@font-face {
  font-family: GothaProBol;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GothaProBol.woff") format("woff"), url("../fonts/GothaProBol.woff2") format("woff2"), url("../fonts/GothaProBol.ttf") format("truetype");
}

@font-face {
  font-family: GothaProReg;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GothaProReg.woff") format("woff"), url("../fonts/GothaProReg.woff2") format("woff2"), url("../fonts/GothaProReg.ttf") format("truetype");
}

@font-face {
  font-family: GothaProMed;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GothaProMed.woff") format("woff"), url("../fonts/GothaProMed.woff2") format("woff2"), url("../fonts/GothaProMed.ttf") format("truetype");
}

@font-face {
  font-family: LemonTuesday;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/LemonTuesday.woff") format("woff"), url("../fonts/LemonTuesday.woff2") format("woff2"), url("../fonts/LemonTuesday.ttf") format("truetype");
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*
--------------------------------------------------------------------------------------------------------------------
Media queries 1
--------------------------------------------------------------------------------------------------------------------
*/

/*
@include media(sm) {
}
@include media(md) {
}
@include media(lg) {
}
@include media(xl) {
}
@include media(wd) {
}
*/

/*
--------------------------------------------------------------------------------------------------------------------
Media queries 2
--------------------------------------------------------------------------------------------------------------------
*/

/*
 block {
  @include mq('p1') {
  }
}*/

/*
--------------------------------------------------------------------------------------------------------------------
Push auto
--------------------------------------------------------------------------------------------------------------------
*/

/*
--------------------------------------------------------------------------------------------------------------------
Responsive-ratio
--------------------------------------------------------------------------------------------------------------------
*/

/*
--------------------------------------------------------------------------------------------------------------------
Css-triangle
--------------------------------------------------------------------------------------------------------------------
*/

/*
--------------------------------------------------------------------------------------------------------------------
Input-placeholder
--------------------------------------------------------------------------------------------------------------------
*/

/*
input {
  @include input-placeholder {
    color: $grey;
  }
}*/

/*
--------------------------------------------------------------------------------------------------------------------
Z-index
--------------------------------------------------------------------------------------------------------------------
*/

/*
.site-header {
  z-index: z('site-header');
}
*/

/*
--------------------------------------------------------------------------------------------------------------------
Font-face
--------------------------------------------------------------------------------------------------------------------
*/

/*
@include font(GothaProBol, normal, normal);
@include font(GothaProMed, normal, normal);
@include font(GothaProReg, normal, normal);
@include font(LemonTuesday, normal, normal);
*/

.no-full-width {
  padding: 0 20px;
}

.part-header {
  text-align: center;
  margin-bottom: 46px;
}

.part-header .caption {
  font-family: LemonTuesday, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  letter-spacing: 2px;
  color: #313131;
}

.part-header .green-line {
  width: 78px;
  height: 3px;
  background-color: #96da47;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
  margin-bottom: 22px;
}

.part-header .text {
  font-family: GothaProReg, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #5f5f5f;
  line-height: 24px;
  width: 100%;
}

.part-header-spec {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  margin: 60px 0;
  margin-left: auto;
  margin-right: auto;
}

.part-header-spec div {
  width: 100%;
  margin: 0 10px;
}

.part-header-spec .caption {
  font-family: LemonTuesday, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  letter-spacing: 2px;
  margin-left: -5px;
}

.part-header-spec .green-line {
  display: block;
  width: 78px;
  height: 3px;
  background-color: #96da47;
  margin-top: 15px;
  margin-bottom: 20px;
}

.part-header-spec .text {
  font-family: GothaProReg, Arial;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  color: #5f5f5f;
  line-height: 24px;
  font-size: 16px;
}

.work {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.work .work-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.work .work-content .content-item {
  width: 100%;
  margin: 0 10px;
  background-image: url(../img/background-item.jpg);
  background-size: cover;
  text-align: center;
  height: 240px;
  color: #313131;
  padding: 15px;
}

.work .work-content .content-item:first-child .image {
  margin-top: 25pt;
  margin-bottom: -13px;
}

.work .work-content .content-item:first-child .image span:before {
  font-size: 52px;
}

.work .work-content .content-item .image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  margin-top: 20px;
}

.work .work-content .content-item .image span:before {
  font-size: 72px;
  color: #96da47;
  margin-left: 0;
}

.work .work-content .content-item .caption {
  display: block;
  font-family: GothaProBol, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.work .work-content .content-item .text {
  display: block;
  font-family: GothaProReg, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.advantages-points {
  margin-left: auto;
  margin-right: auto;
  width: 850px;
}

.advantages-points li {
  text-align: left;
}

.advantages {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 50px;
}

.advantages form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.advantages form .adv-form-item {
  width: 100%;
  margin: 0 12px;
}

.advantages form input {
  width: 100%;
  padding-left: 10px;
  height: 38px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #313131;
  font-family: GothaProReg, Arial;
  font-style: normal;
  font-weight: normal;
  border: 1px solid #334358;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  font-size: 16px;
}

.advantages form input:focus {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  border: 1px solid #96da47;
}

.advantages form input:hover,
.advantages form input :active {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}

.advantages form .area,
footer .questions .advantages form .name {
  width: 100%;
}

.advantages form .phone {
  width: 100%;
}

.advantages form .submit {
  color: #fff;
  font-family: GothaProBol, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  border: none;
  background-color: #96da47;
  height: 38px;
}

.advantages form .submit:hover,
.advantages form .submit :focus,
.advantages form .submit :active {
  background-color: #a0e54f;
  border: none;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  cursor: pointer;
}

.advantages form .submit:focus {
  background-color: #a0e54f;
}

.advantages form .submit :active {
  background-color: #a0e54f;
}

.advantages form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #6a6a6a;
  font-family: GothaProReg, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.advantages form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #6a6a6a;
  font-family: GothaProReg, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.advantages form :-ms-input-placeholder {
  /* IE 10+ */
  color: #6a6a6a;
  font-family: GothaProReg, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.advantages form :-moz-placeholder {
  /* Firefox 18- */
  color: #6a6a6a;
  font-family: GothaProReg, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

footer {
  padding: 0 20px 20px 20px;
  background: #354358;
  background: -webkit-linear-gradient(bottom, rgba(53, 67, 88, 0.7), rgba(53, 67, 88, 0.7)), url("../img/not-found.png") no-repeat center;
  background: -moz-linear-gradient(bottom, rgba(53, 67, 88, 0.7), rgba(53, 67, 88, 0.7)), url("../img/not-found.png") no-repeat center;
  background: linear-gradient(to top, rgba(53, 67, 88, 0.7), rgba(53, 67, 88, 0.7)), url("../img/not-found.png") no-repeat center;
  background-size: cover;
}

footer .part-header .caption {
  color: #fff;
}

footer .questions {
  min-height: 250px;
  padding-top: 60px;
  padding-bottom: 15px;
}

footer .questions .part-header {
  color: #fff;
}

footer .questions .part-header .text {
  color: #fff;
}

footer .questions .advantages {
  margin-bottom: 0;
}

footer .questions .advantages .name {
  color: #fff;
}

footer .questions .advantages form input {
  color: #fff;
  font-family: GothaProReg, Arial;
  font-style: normal;
  font-weight: normal;
  border: 1px solid  #fff;
  background: none;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}

footer .questions .advantages form input:focus {
  border: 1px solid #a0e54f;
}

footer .questions .advantages form .submit {
  color: #fff;
  background-color: #96da47;
  border: none;
}

footer .questions .advantages form .submit:hover,
footer .questions .advantages form .submit :focus,
footer .questions .advantages form .submit :active {
  background-color: #a0e54f;
  cursor: pointer;
}

footer .questions .advantages form .submit:focus {
  background-color: #a0e54f;
}

footer .questions .advantages form .submit :active {
  background-color: #a0e54f;
}

footer .questions .advantages form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

footer .questions .advantages form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

footer .questions .advantages form :-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

footer .questions .advantages form :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.make-order {
  background: #96da47;
  background: url("../img/order.png") no-repeat center;
  background-size: cover;
  padding: 55px 20px 55px 20px;
  margin-bottom: 80px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.make-order .order-pane {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.make-order .order-pane .caption {
  font-family: GothaProReg, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #fff;
  margin-top: 2px;
  text-align: left;
  display: inline-block;
}

.make-order .order-pane .makeorder-wrp {
  width: 390px;
}

.make-order .order-pane form input {
  height: 34px;
  color: #fff;
  font-family: GothaProReg, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  padding-left: 10px;
  border: 1px solid #fff;
  background: none;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}

.make-order .order-pane form input:focus {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  border: 1px solid #f2ffe4;
}

.make-order .order-pane form input:hover,
.make-order .order-pane form input :active {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}

.make-order .order-pane form .phone {
  width: -moz-calc(50% - 20px);
  width: calc(50% - 20px);
}

.make-order .order-pane form .submit {
  background: #fff;
  color: #96da47;
  height: 38px;
  width: 50%;
  margin-left: -5px;
}

.make-order .order-pane form .submit:focus {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}

.make-order .order-pane form .submit:hover,
.make-order .order-pane form .submit :active {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #f2ffe4;
  cursor: pointer;
}

.make-order .order-pane form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
  font-family: GothaProReg, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.make-order .order-pane form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  font-family: GothaProReg, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.make-order .order-pane form :-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
  font-family: GothaProReg, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.make-order .order-pane form :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  font-family: GothaProReg, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.statistic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 60px;
}

.statistic .item {
  position: relative;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 70px 20px;
  overflow: hidden;
}

.statistic .item .caption {
  font-family: LemonTuesday, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 28px;
  position: inherit;
}

.statistic .item .text {
  display: block;
  font-family: GothaProMed, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  position: inherit;
}

.statistic .item-1 {
  background: #354358;
  background: -webkit-linear-gradient(bottom, rgba(58, 68, 89, 0.6), rgba(58, 68, 89, 0.6)), url("../img/not-found.png") no-repeat center;
  background: -moz-linear-gradient(bottom, rgba(58, 68, 89, 0.6), rgba(58, 68, 89, 0.6)), url("../img/not-found.png") no-repeat center;
  background: linear-gradient(to top, rgba(58, 68, 89, 0.6), rgba(58, 68, 89, 0.6)), url("../img/not-found.png") no-repeat center;
  background-size: cover;
}

.statistic .item-2 {
  background: #354358;
  background: -webkit-linear-gradient(bottom, rgba(58, 68, 89, 0.6), rgba(58, 68, 89, 0.6)), url("../img/not-found.png") no-repeat center;
  background: -moz-linear-gradient(bottom, rgba(58, 68, 89, 0.6), rgba(58, 68, 89, 0.6)), url("../img/not-found.png") no-repeat center;
  background: linear-gradient(to top, rgba(58, 68, 89, 0.6), rgba(58, 68, 89, 0.6)), url("../img/not-found.png") no-repeat center;
  background-size: cover;
}

.statistic .item-3 {
  background: #354358;
  background: -webkit-linear-gradient(bottom, rgba(58, 68, 89, 0.6), rgba(58, 68, 89, 0.6)), url("../img/not-found.png") no-repeat center;
  background: -moz-linear-gradient(bottom, rgba(58, 68, 89, 0.6), rgba(58, 68, 89, 0.6)), url("../img/not-found.png") no-repeat center;
  background: linear-gradient(to top, rgba(58, 68, 89, 0.6), rgba(58, 68, 89, 0.6)), url("../img/not-found.png") no-repeat center;
  background-size: cover;
}

.statistic .hover {
  background: -webkit-linear-gradient(bottom, rgba(150, 218, 71, 0.7), rgba(150, 218, 71, 0.7));
  background: -moz-linear-gradient(bottom, rgba(150, 218, 71, 0.7), rgba(150, 218, 71, 0.7));
  background: linear-gradient(to top, rgba(150, 218, 71, 0.7), rgba(150, 218, 71, 0.7));
  position: absolute;
  width: 100%;
  height: 100%;
  top: -500px;
  left: 0;
  display: none;
}

.statistic .hover:before {
  content: "\A";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  position: absolute;
  margin-left: -20px;
}

.order {
  width: 354px;
  height: 390px;
  background: rgba(255, 255, 255, 0.95);
  display: inline-block;
  padding: 44px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.order .header {
  display: block;
  font-family: GothaProMed, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #313131;
}

.order .text {
  display: block;
  font-family: GothaProReg, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #5f5f5f;
  margin-top: 22px;
  margin-bottom: 36px;
  line-height: 20px;
}

.order input {
  display: block;
  width: 100%;
  height: 34px;
  color: #313131;
  font-family: GothaProReg, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  padding-left: 10px;
  border: 1px solid #334358;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}

.order input:focus {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  border: 1px solid #a0e54f;
}

.order input:hover,
.order input :active {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}

.order .phone {
  background: none;
  display: block;
  width: -moz-calc(100% - 12px);
  width: calc(100% - 12px);
  margin: 15px 0;
}

.order .submit {
  width: 100%;
  color: #fff;
  font-family: GothaProMed, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  border: none;
  background-color: #96da47;
  height: 38px;
}

.order .submit:hover,
.order .submit :focus,
.order .submit :active {
  background-color: #a0e54f;
  border: none;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  cursor: pointer;
}

.order .submit:focus {
  background-color: #a0e54f;
}

.order .submit :active {
  background-color: #a0e54f;
}

.order .timer-wrap .timer-text {
  display: block;
  font-family: GothaProMed, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #313131;
  margin: 35px 0 10px 0;
  text-transform: uppercase;
}

.order .timer-wrap .timer-time {
  display: block;
  font-family: GothaProMed, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #2e3344;
}

.banner {
  width: 100%;
  max-width: 520px;
  position: relative;
  color: #fff;
  margin-bottom: 50px;
}

.banner .box {
  padding: 44px 40px 40px 40px;
  text-align: center;
}

.banner .box .header {
  font-family: GothaProMed, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #96da47;
}

.banner .box .caption {
  font-family: LemonTuesday, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  margin: 30px 0;
}

.banner .box .sale {
  font-family: GothaProMed, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  display: inline;
}

.banner .box .sale span {
  border-bottom: solid 3px #96da47;
  display: inline;
  padding-bottom: 3px;
}

.banner .angle-1 {
  width: 40px;
  height: 40px;
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.banner .angle-2 {
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  right: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
}

.banner .angle-3 {
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  left: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
}

.banner .angle-4 {
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  right: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
}

header {
  min-height: 500px;
  background: #354358;
  background: url("../img/not-found.png") no-repeat top;
  background-size: cover;
  position: relative;
}

header .content-wrap {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

header .content-wrap .logo {
  padding-top: 25px;
  padding-bottom: 76px;
  height: 50px;
}

header .content-wrap .logo a {
  height: 100%;
}

header .content-wrap .logo a img {
  height: 100%;
}

header .content-wrap .part-left {
  position: relative;
  width: 50%;
  background: -webkit-linear-gradient(bottom, rgba(53, 67, 88, 0.7), rgba(53, 67, 88, 0.7));
  background: -moz-linear-gradient(bottom, rgba(53, 67, 88, 0.7), rgba(53, 67, 88, 0.7));
  background: linear-gradient(to top, rgba(53, 67, 88, 0.7), rgba(53, 67, 88, 0.7));
  padding: 20px;
}

header .content-wrap .part-left .content {
  width: 100%;
  max-width: 590px;
  float: right;
}

header .content-wrap .part-left a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

header .content-wrap .part-left .phone {
  text-align: center;
  color: #fff;
  margin-right: 70px;
  margin-bottom: 40px;
  font-size: 20px;
  margin-top: 58px;
  text-decoration: none;
  font-family: GothaProMed, Arial;
  font-style: normal;
  font-weight: normal;
}

header .content-wrap .part-left .phone .phone-ico {
  display: inline;
}

header .content-wrap .part-left .phone .phone-ico:before {
  font-size: 28px;
  margin-right: 20px;
  margin-left: 0;
  vertical-align: text-bottom;
}

header .content-wrap .part-left .phone .phone-number {
  margin-top: -5px;
  display: inline;
}

header .content-wrap .part-right {
  width: 50%;
  padding-top: 86px;
  padding-bottom: 70px;
}

header .content-wrap .part-right .content .order-wrapper {
  position: relative;
}

.down {
  width: 30px;
  height: 58px;
  background: #fff;
  background: url("../img/down.png");
  position: absolute;
  right: -15px;
  bottom: 20px;
}

.order-wrapper {
  width: 354px;
  background: rgba(255, 255, 255, 0.95);
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.order {
  width: 100%;
  height: 390px;
  background: none;
  display: block;
  padding: 44px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.carousel-wrap {
  background: #354358;
  background: -webkit-linear-gradient(bottom, rgba(53, 67, 88, 0.7), rgba(53, 67, 88, 0.7)), url("../img/not-found.png") no-repeat center;
  background: -moz-linear-gradient(bottom, rgba(53, 67, 88, 0.7), rgba(53, 67, 88, 0.7)), url("../img/not-found.png") no-repeat center;
  background: linear-gradient(to top, rgba(53, 67, 88, 0.7), rgba(53, 67, 88, 0.7)), url("../img/not-found.png") no-repeat center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 20px;
}

.carousel-wrap .part-header {
  margin-bottom: 0;
}

.carousel-wrap .part-header .caption {
  color: #fff;
}

.carousel-wrap .part-header .green-line {
  margin-top: 28px;
  margin-bottom: 28px;
}

#owl-feeds {
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;
}

#owl-feeds .item {
  padding: 36px 0;
  min-height: 240px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 40px 50px;
  background: #fff;
}

#owl-feeds .item .icon {
  color: #96da47;
  width: 80px;
}

#owl-feeds .item .icon span:before {
  font-size: 45px;
  margin-left: 30px;
}

#owl-feeds .item .text-wrap {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  width: -moz-calc(100% - 390px);
  width: calc(100% - 390px);
  letter-spacing: 1px;
}

#owl-feeds .item .text-wrap .text {
  display: block;
  color: #5f5f5f;
  font-family: GothaProReg, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

#owl-feeds .item .text-wrap .author {
  margin-top: 30px;
  margin-right: 20px;
  display: block;
  float: right;
  color: #313131;
  font-family: GothaProMed, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

#owl-feeds .item .image {
  width: 400px;
}

#owl-feeds .item .image img {
  position: absolute;
}

#owl-feeds img {
  width: 280px;
  height: 280px;
  margin-top: -55px;
}

#owl-feeds .owl-wrapper-outer {
  position: relative;
}

#owl-feeds .owl-controls {
  position: absolute;
  top: 90px;
  right: 70px;
}

#owl-feeds .owl-controls .owl-pagination .owl-page {
  display: block;
  margin-bottom: 15px;
}

#owl-feeds .owl-controls .owl-pagination .owl-page span {
  border-radius: 0;
  background-color: #e4e5e5;
  margin: 8px 7px;
  opacity: 1;
  width: 16px;
  height: 16px;
}

#owl-feeds .owl-controls .owl-pagination .owl-page.active span {
  background-color: #96da47;
}

.modal-wrap .window {
  position: fixed;
  z-index: 5;
  width: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-wrap .window form {
  position: relative;
}

.modal-wrap .close {
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
  color: #abb0ba;
}

.modal-wrap .close span:before {
  font-size: 28px;
}

.modal-wrap .close:hover {
  color: #f1f3f3;
}

.modal-wrap .overlay {
  position: fixed;
  /* Stay in place */
  z-index: 4;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background: -webkit-linear-gradient(bottom, rgba(53, 67, 88, 0.7), rgba(53, 67, 88, 0.7));
  background: -moz-linear-gradient(bottom, rgba(53, 67, 88, 0.7), rgba(53, 67, 88, 0.7));
  background: linear-gradient(to top, rgba(53, 67, 88, 0.7), rgba(53, 67, 88, 0.7));
}

.modal-wrap-gallery {
  display: none;
}

.modal-wrap-gallery .window {
  position: fixed;
  z-index: 5;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-wrap-gallery .window .image-wrap {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url("../img/not-found.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.modal-wrap-gallery .close {
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
  color: #abb0ba;
}

.modal-wrap-gallery .close span:before {
  font-size: 28px;
}

.modal-wrap-gallery .close:hover {
  color: #f1f3f3;
}

.modal-wrap-gallery .prev {
  position: absolute;
  top: -moz-calc(50% - 30px);
  top: calc(50% - 30px);
  left: -80px;
  cursor: pointer;
  color: #abb0ba;
}

.modal-wrap-gallery .prev span:before {
  font-size: 50px;
  margin: 0;
}

.modal-wrap-gallery .prev:hover {
  color: #f1f3f3;
}

.modal-wrap-gallery .next {
  position: absolute;
  top: -moz-calc(50% - 30px);
  top: calc(50% - 30px);
  right: -80px;
  cursor: pointer;
  color: #abb0ba;
}

.modal-wrap-gallery .next span:before {
  font-size: 50px;
  margin: 0;
}

.modal-wrap-gallery .next:hover {
  color: #f1f3f3;
}

.modal-wrap-gallery .overlay {
  position: fixed;
  /* Stay in place */
  z-index: 4;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background: -webkit-linear-gradient(bottom, rgba(53, 67, 88, 0.7), rgba(53, 67, 88, 0.7));
  background: -moz-linear-gradient(bottom, rgba(53, 67, 88, 0.7), rgba(53, 67, 88, 0.7));
  background: linear-gradient(to top, rgba(53, 67, 88, 0.7), rgba(53, 67, 88, 0.7));
}

.gallery {
  width: 100%;
  margin-bottom: 75px;
  margin-top: 65px;
}

.gallery .gallery-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.gallery .gallery-line .item {
  position: relative;
  width: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
}

.gallery .gallery-line .item img {
  cursor: pointer;
}

.gallery .gallery-line .type-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1   1  0;
  -moz-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1   1  0;
}

.gallery .gallery-line .type-2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2   1  0;
  -moz-box-flex: 2;
  -ms-flex: 2 1 0px;
  flex: 2   1  0;
}

.gallery .hover {
  background: -webkit-linear-gradient(bottom, rgba(150, 218, 71, 0.7), rgba(150, 218, 71, 0.7));
  background: -moz-linear-gradient(bottom, rgba(150, 218, 71, 0.7), rgba(150, 218, 71, 0.7));
  background: linear-gradient(to top, rgba(150, 218, 71, 0.7), rgba(150, 218, 71, 0.7));
  position: absolute;
  width: 100%;
  height: 100%;
  top: -500px;
  left: 0;
  cursor: pointer;
  text-align: center;
  display: table;
}

.gallery .hover .text {
  position: relative;
  color: #fff;
  font-family: GothaProMed, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  display: table-cell;
  vertical-align: middle;
}

.gallery .hover .text span:before {
  margin-right: 15px;
  margin-left: 0;
  vertical-align: middle;
}

.fixed-menu {
  display: none;
  width: 100%;
  height: 80px;
  background: #f1f3f3;
  position: fixed;
  z-index: 3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  top: -100px;
}

.fixed-menu .content-wrap {
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fixed-menu .content-wrap .logo {
  float: left;
  height: 24px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 10px;
}

.fixed-menu .content-wrap .logo a img {
  height: 100%;
}

.fixed-menu .content-wrap a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

.fixed-menu .content-wrap .phones {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -moz-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  margin-top: -5px;
}

.fixed-menu .content-wrap .phone {
  margin-top: -6px;
  text-align: center;
  color: #313131;
  font-size: 20px;
  text-decoration: none;
  font-family: GothaProReg, Arial;
  font-style: normal;
  font-weight: normal;
}

.fixed-menu .content-wrap .phone .phone-ico {
  display: inline;
}

.fixed-menu .content-wrap .phone .phone-ico:before {
  font-size: 24px;
  margin-right: 5px;
}

.fixed-menu .content-wrap .phone .phone-number {
  display: inline;
}

.fixed-menu .content-wrap input {
  display: block;
  width: 100%;
  height: 34px;
  color: #313131;
  font-family: GothaProReg, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14pt;
  padding-left: 10px;
  border: 1px solid #334358;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}

.fixed-menu .content-wrap input:focus {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  border: 1px solid #a0e54f;
}

.fixed-menu .content-wrap input:hover,
.fixed-menu .content-wrap input :active {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}

.fixed-menu .content-wrap .submit {
  width: 270px;
  color: #fff;
  font-family: GothaProMed, Arial;
  font-style: normal;
  font-weight: normal;
  border: none;
  background-color: #96da47;
  height: 38px;
}

.fixed-menu .content-wrap .submit:hover,
.fixed-menu .content-wrap .submit :focus,
.fixed-menu .content-wrap .submit :active {
  background-color: #a0e54f;
  border: none;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  cursor: pointer;
}

.fixed-menu .content-wrap .submit:focus {
  background-color: #a0e54f;
}

.fixed-menu .content-wrap .submit :active {
  background-color: #a0e54f;
}

#pipo-contacts .modal-body .close {
  position: absolute;
  right: 15px;
  margin-top: -20px;
  margin-right: -30px;
}

.d-h {
  display: block;
  position: absolute;
  zoom: 1;
  overflow: hidden;
  width: 0;
  height: 0;
  left: -9999px;
}

.d-i {
  display: inline !important;
}

.d-ib {
  display: inline-block !important;
}

.d-t {
  display: table !important;
}

.d-tr {
  display: table-row !important;
}

.d-tc {
  display: table-cell !important;
  float: none !important;
}

.pipo-contacts-text {
  display: none;
}

.pipo-contacts-text-active {
  display: block;
}

.toggle .form-flex {
  overflow: hidden;
}

.form-answer {
  display: none;
  position: relative;
  zoom: 1;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  background: #ffffff;
  font-family: 'GothaProReg', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #5f5f5f;
  line-height: 20 / 16;
  width: 354px;
}

.form-answer p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.form-answer .text-container {
  padding: 40px 20px;
}

.toggle .form-answer {
  display: table;
}

.form-answer .d-tc {
  vertical-align: middle;
}

.text-block-close {
  display: inline-block;
  font-weight: 300;
  font-size: 2em;
  line-height: 1;
  text-decoration: none !important;
  padding-left: 1em;
  padding-right: 1em;
}

.has-error,
.has-error *,
.order .has-error input {
  color: #d94848 !important;
}

.form-control.has-error,
.has-error .form-control {
  border-color: #d94848 !important;
}

.text-success {
  color: #96da47;
}

a.text-success:hover,
a.text-success:focus {
  color: #7dc628;
}

.text-danger {
  color: #d94848;
}

a.text-danger:hover,
a.text-danger:focus {
  color: #c52929;
}

.h1 {
  font-family: 'LemonTuesday', 'verdana', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  letter-spacing: 2px;
}

@media screen and (min-width: 768px) {
  #pipo-contacts .modal-body {
    background: red;
    padding: 20px;
  }

  #pipo-contacts .modal-body .close {
    margin-top: -30px;
    margin-right: -20px;
  }
}

@media only screen and (min-width: 1200px) {
  .no-full-width {
    padding: 0;
  }

  .part-header .text {
    display: block;
    width: 810px;
    margin-left: auto;
    margin-right: auto;
  }

  .part-header-spec {
    width: 1130px;
  }

  .work {
    width: 1150px;
  }

  .advantages-points {
    width: 850px;
  }

  .advantages {
    width: 1000px;
  }

  footer {
    padding: 0;
    padding-bottom: 20px;
  }

  .make-order .order-pane {
    width: 1145px;
  }

  .make-order .order-pane .makeorder-wrp {
    display: inline-block;
  }

  header .content-wrap .part-right .content {
    margin-left: 20%;
  }

  .carousel-wrap {
    padding-bottom: 20px;
  }

  .modal-wrap-gallery .window {
    width: -moz-calc(100% - 200px);
    width: calc(100% - 200px);
  }

  .fixed-menu .content-wrap {
    width: 1130px;
    padding: 0;
  }

  .fixed-menu .content-wrap .phone {
    font-size: 20px;
    margin: 0 30px;
  }

  .fixed-menu .content-wrap .submit {
    font-size: 16px;
    width: 220px;
  }
}

@media only screen and (max-width: 400px) {
  .part-header {
    margin-bottom: 20px;
  }

  .part-header .caption {
    font-size: 34px;
  }

  .part-header .green-line {
    height: 2px;
  }

  .part-header .text {
    font-size: 16px;
  }

  .part-header-spec {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 20px 0;
  }

  .part-header-spec div {
    margin: 0 0 20px 0;
  }

  .part-header-spec .caption {
    font-size: 34px;
    text-align: center;
    margin-left: 0;
  }

  .part-header-spec .green-line {
    height: 2px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .part-header-spec .text {
    font-size: 16px;
  }

  .work .work-content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .work .work-content .content-item {
    margin: 10px 0;
    height: 150px;
  }

  .work .work-content .content-item:first-child .image span:before {
    font-size: 30px;
  }

  .work .work-content .content-item:first-child .image {
    margin-top: 10px;
  }

  .work .work-content .content-item .image {
    margin-top: 0px;
  }

  .work .work-content .content-item .image span:before {
    font-size: 50px;
  }

  .work .work-content .content-item .caption {
    font-size: 20px;
    margin: 10px 0;
  }

  .work .work-content .content-item .text {
    font-size: 14px;
  }

  .advantages-points {
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
  }

  .advantages {
    width: 100%;
  }

  .advantages form {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .advantages form .adv-form-item {
    margin: 0 0 10px 0;
  }

  .advantages form input {
    font-size: 16px;
    margin: 0;
  }

  .advantages form .submit {
    font-size: 14px;
  }

  .advantages form ::-webkit-input-placeholder {
    font-size: 16px;
  }

  .advantages form ::-moz-placeholder {
    font-size: 16px;
  }

  .advantages form :-ms-input-placeholder {
    font-size: 16px;
  }

  .advantages form :-moz-placeholder {
    font-size: 16px;
  }

  .make-order {
    padding: 10px 20px 20px 20px;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: auto;
  }

  .make-order .order-pane .caption {
    width: 100%;
    font-size: 20px;
    margin: 15px 0 20px 0;
    text-align: center;
  }

  .make-order .order-pane .makeorder-wrp {
    width: 100%;
  }

  .make-order .order-pane form .phone {
    margin-bottom: 10px;
    width: -moz-calc(100% - 10px);
    width: calc(100% - 10px);
  }

  .make-order .order-pane form .submit {
    margin: 0;
    width: 100%;
  }

  .make-order .order-pane form ::-webkit-input-placeholder {
    font-size: 16px;
  }

  .make-order .order-pane form ::-moz-placeholder {
    font-size: 16px;
  }

  .make-order .order-pane form :-ms-input-placeholder {
    font-size: 16px;
  }

  .make-order .order-pane form :-moz-placeholder {
    font-size: 16px;
  }

  .statistic {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .order {
    padding: 30px;
    height: auto;
  }

  .order {
    width: -moz-calc(100% - 50px);
    width: calc(100% - 50px);
    margin: 20px;
  }

  .order .text {
    margin: 15px 0;
  }

  .order .phone {
    margin: 10px 0;
  }

  .order .timer-wrap .timer-text {
    margin: 20px 0 10px 0;
  }

  .banner {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .banner .box {
    padding: 20px;
  }

  .banner .box .caption {
    font-size: 40px;
    line-height: 60px;
  }

  header .content-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  header .content-wrap .logo {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 40px;
  }

  header .content-wrap .part-left {
    width: 100%;
  }

  header .content-wrap .part-left .content {
    width: 100%;
    max-width: 100%;
  }

  header .content-wrap .part-left .phone {
    margin-right: 0;
    font-size: 14px;
  }

  header .content-wrap .part-left .phone .phone-ico:before {
    font-size: 20px;
  }

  header .content-wrap .part-right {
    width: 100%;
  }

  header .content-wrap .part-right .content {
    margin: 0;
  }

  header .content-wrap .part-right .content .order-wrapper .order {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .down {
    display: none;
  }

  .order-wrapper {
    margin-left: 25px;
    margin-right: 25px;
    width: 100%;
  }

  .order {
    padding: 30px;
    width: 100%;
    height: auto;
    margin: 20px;
  }

  header .content-wrap .part-right .content .order-wrapper,
  header .content-wrap .part-right .content .order {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .modal-wrap .window .order-wrapper {
    width: 300px;
  }

  .modal-wrap .window .order {
    width: 100%;
  }

  #owl-feeds .item {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 10px;
  }

  #owl-feeds .item .icon {
    display: none;
    width: 0;
  }

  #owl-feeds .item .text-wrap {
    width: -moz-calc(100% - 50px);
    width: calc(100% - 50px);
    margin-right: 0;
    margin-left: 0;
  }

  #owl-feeds .item .image {
    width: 0;
    margin: 0;
    display: none;
  }

  #owl-feeds .owl-controls {
    top: 70px;
    right: 10px;
  }

  .modal-wrap .window .order {
    width: 300px;
  }

  .modal-wrap .close {
    top: -10px;
    right: 19px;
  }

  .modal-wrap-gallery .window {
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
  }

  .modal-wrap-gallery .close {
    top: -40px;
    right: 0px;
  }

  .modal-wrap-gallery .prev {
    top: -moz-calc(50% - 30px);
    top: calc(50% - 30px);
    left: 0px;
    font-size: 30px;
  }

  .modal-wrap-gallery .next {
    top: -moz-calc(50% - 30px);
    top: calc(50% - 30px);
    right: 0px;
    font-size: 30px;
  }

  .gallery .gallery-line {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .gallery .gallery-line .type-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1   1  50%;
    -moz-box-flex: 1;
    -ms-flex: 1   1  50%;
    flex: 1   1  50%;
  }

  .gallery .gallery-line .type-2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1   1  50%;
    -moz-box-flex: 1;
    -ms-flex: 1   1  50%;
    flex: 1   1  50%;
  }

  .gallery .hover .text {
    font-size: 14px;
  }

  .gallery .hover .text span:before {
    margin-right: 5px;
  }

  .fixed-menu {
    height: auto;
  }

  .fixed-menu .content-wrap {
    font-size: 14px;
    display: block;
    padding: 10px 20px;
    height: auto;
  }

  .fixed-menu .content-wrap .phones {
    display: block;
    float: right;
  }

  .fixed-menu .content-wrap .phone {
    font-size: 14px;
    text-align: right;
    margin-bottom: 5px;
    margin-top: 0;
  }

  .fixed-menu .content-wrap .phone .phone-ico:before {
    font-size: 20px;
    margin-left: 0;
  }

  .fixed-menu .content-wrap .submit {
    font-size: 14px;
    display: block;
    width: 100%;
    margin-top: 10px;
    height: 32px;
  }

  .form-answer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 767px) {
  .part-header {
    margin-bottom: 30px;
  }

  .part-header .caption {
    font-size: 34px;
  }

  .part-header .green-line {
    height: 2px;
  }

  .part-header .text {
    font-size: 16px;
  }

  .part-header-spec {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 20px 0;
  }

  .part-header-spec div {
    margin: 0 0 20px 0;
  }

  .part-header-spec .caption {
    font-size: 34px;
    text-align: center;
    margin-left: 0;
  }

  .part-header-spec .green-line {
    height: 2px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .part-header-spec .text {
    font-size: 16px;
  }

  .work .work-content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .work .work-content .content-item {
    margin: 10px 40px;
    height: 160px;
    width: 80%;
  }

  .work .work-content .content-item:first-child .image span:before {
    font-size: 40px;
  }

  .work .work-content .content-item:first-child .image {
    margin-top: 10px;
  }

  .work .work-content .content-item .image {
    margin-top: 0px;
  }

  .work .work-content .content-item .image span:before {
    font-size: 60px;
  }

  .work .work-content .content-item .caption {
    font-size: 20px;
    margin: 5px 0;
  }

  .work .work-content .content-item .text {
    font-size: 15px;
  }

  .advantages-points {
    width: -moz-calc(100% - 100px);
    width: calc(100% - 100px);
  }

  .advantages {
    width: 350px;
  }

  .advantages form {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .advantages form .adv-form-item {
    margin: 0 0 10px 0;
  }

  .advantages form input {
    font-size: 16px;
    margin: 0;
  }

  .advantages form .submit {
    font-size: 14px;
  }

  .advantages form ::-webkit-input-placeholder {
    font-size: 16px;
  }

  .advantages form ::-moz-placeholder {
    font-size: 16px;
  }

  .advantages form :-ms-input-placeholder {
    font-size: 16px;
  }

  .advantages form :-moz-placeholder {
    font-size: 16px;
  }

  .make-order {
    padding: 10px 20px 20px 20px;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: auto;
  }

  .make-order .order-pane .caption {
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin: 15px 0 20px 0;
  }

  .make-order .order-pane .makeorder-wrp {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .make-order .order-pane form .phone {
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: -moz-calc(100% - 10px);
    width: calc(100% - 10px);
  }

  .make-order .order-pane form .submit {
    display: block;
    margin: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .make-order .order-pane form ::-webkit-input-placeholder {
    font-size: 16px;
  }

  .make-order .order-pane form ::-moz-placeholder {
    font-size: 16px;
  }

  .make-order .order-pane form :-ms-input-placeholder {
    font-size: 16px;
  }

  .make-order .order-pane form :-moz-placeholder {
    font-size: 16px;
  }

  .statistic {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .banner {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .banner .box .caption {
    font-size: 44px;
  }

  header .content-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  header .content-wrap .logo {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  header .content-wrap .part-left {
    width: 100%;
  }

  header .content-wrap .part-left .content {
    width: 100%;
    max-width: 100%;
  }

  header .content-wrap .part-left .phone {
    font-size: 16px;
    margin-right: 0;
  }

  header .content-wrap .part-left .phone .phone-ico:before {
    font-size: 22px;
  }

  header .content-wrap .part-right {
    width: 100%;
  }

  header .content-wrap .part-right {
    width: 100%;
  }

  header .content-wrap .part-right .content {
    margin: 0;
  }

  header .content-wrap .part-right .content .order-wrapper .order {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .down {
    display: none;
  }

  header .content-wrap .part-right .content .order-wrapper {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }

  header .content-wrap .part-right .content .order {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #owl-feeds .item {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 10px;
  }

  #owl-feeds .item .icon span:before {
    font-size: 30px;
    margin-left: 10px;
  }

  #owl-feeds .item .icon {
    width: 30px;
  }

  #owl-feeds .item .text-wrap {
    width: -moz-calc(100% - 180px);
    width: calc(100% - 180px);
    margin-right: 0;
  }

  #owl-feeds .item .image {
    width: 130px;
  }

  #owl-feeds img {
    width: 100px;
    height: 100px;
    margin-top: 0;
  }

  #owl-feeds .owl-controls {
    top: 70px;
    right: 10px;
  }

  .modal-wrap-gallery .window {
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
  }

  .modal-wrap-gallery .close {
    top: -40px;
    right: 0px;
  }

  .modal-wrap-gallery .prev {
    top: -moz-calc(50% - 30px);
    top: calc(50% - 30px);
    left: 0px;
    font-size: 30px;
  }

  .modal-wrap-gallery .next {
    top: -moz-calc(50% - 30px);
    top: calc(50% - 30px);
    right: 0px;
    font-size: 30px;
  }

  .gallery .gallery-line {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .gallery .gallery-line .type-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1   1  50%;
    -moz-box-flex: 1;
    -ms-flex: 1   1  50%;
    flex: 1   1  50%;
  }

  .gallery .gallery-line .type-2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1   1  50%;
    -moz-box-flex: 1;
    -ms-flex: 1   1  50%;
    flex: 1   1  50%;
  }

  .gallery .hover .text {
    font-size: 14px;
  }

  .gallery .hover .text span:before {
    margin-right: 15px;
  }

  .fixed-menu {
    height: auto;
  }

  .fixed-menu .content-wrap {
    font-size: 16px;
    display: block;
    padding: 13px 20px;
    height: auto;
  }

  .fixed-menu .content-wrap .phones {
    display: block;
    float: right;
  }

  .fixed-menu .content-wrap .phone {
    font-size: 16px;
    text-align: right;
    margin-bottom: 5px;
    margin-top: 0;
  }

  .fixed-menu .content-wrap .phone .phone-ico:before {
    font-size: 22px;
    margin-left: 0;
  }

  .fixed-menu .content-wrap .submit {
    font-size: 14px;
    display: block;
    width: 100%;
    margin-top: 10px;
    height: 32px;
  }

  .form-answer {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .part-header .text {
    display: block;
    width: 810px;
    margin-left: auto;
    margin-right: auto;
  }

  .part-header-spec .text {
    font-size: 16px;
  }

  .work .work-content .content-item {
    height: 240px;
  }

  .work .work-content .content-item .caption {
    font-size: 28px;
  }

  .work .work-content .content-item .text {
    font-size: 18px;
  }

  .advantages-points {
    width: 850px;
  }

  .advantages form input {
    font-size: 16px;
  }

  .advantages form ::-webkit-input-placeholder {
    font-size: 16px;
  }

  .advantages form ::-moz-placeholder {
    font-size: 16px;
  }

  .advantages form :-ms-input-placeholder {
    font-size: 16px;
  }

  .advantages form :-moz-placeholder {
    font-size: 16px;
  }

  .make-order .order-pane .caption {
    width: -moz-calc(100% - 400px);
    width: calc(100% - 400px);
    font-size: 22px;
  }

  .make-order .order-pane .makeorder-wrp {
    display: inline-block;
  }

  .make-order .order-pane form ::-webkit-input-placeholder {
    font-size: 16px;
  }

  .make-order .order-pane form ::-moz-placeholder {
    font-size: 16px;
  }

  .make-order .order-pane form :-ms-input-placeholder {
    font-size: 16px;
  }

  .make-order .order-pane form :-moz-placeholder {
    font-size: 16px;
  }

  header .content-wrap .part-left .phone {
    margin-right: 20px;
  }

  header .content-wrap .part-right .content {
    margin-left: 20%;
  }

  .modal-wrap-gallery .window {
    width: -moz-calc(100% - 200px);
    width: calc(100% - 200px);
  }

  .fixed-menu .content-wrap {
    width: 100%;
  }

  .fixed-menu .content-wrap .phone {
    font-size: 16px;
    margin: 0 20px;
  }

  .fixed-menu .content-wrap .submit {
    font-size: 14px;
    width: 220px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .part-header-spec .text {
    font-size: 16px;
  }

  .work .work-content .content-item {
    height: 200px;
  }

  .work .work-content .content-item .caption {
    font-size: 20px;
    margin: 10px 0;
  }

  .work .work-content .content-item .text {
    font-size: 15px;
  }

  .advantages-points {
    width: -moz-calc(100% - 100px);
    width: calc(100% - 100px);
  }

  .advantages form input {
    font-size: 16px;
  }

  .advantages form ::-webkit-input-placeholder {
    font-size: 16px;
  }

  .advantages form ::-moz-placeholder {
    font-size: 16px;
  }

  .advantages form :-ms-input-placeholder {
    font-size: 16px;
  }

  .advantages form :-moz-placeholder {
    font-size: 16px;
  }

  .make-order {
    padding: 30px 20px 30px 20px;
  }

  .make-order .order-pane .caption {
    width: -moz-calc(100% - 400px);
    width: calc(100% - 400px);
    font-size: 22px;
  }

  .make-order .order-pane .makeorder-wrp {
    display: inline-block;
  }

  .make-order .order-pane form .phone {
    display: block;
    margin-bottom: 10px;
    width: -moz-calc(100% - 10px);
    width: calc(100% - 10px);
  }

  .make-order .order-pane form .submit {
    margin: 0;
    width: 100%;
  }

  .make-order .order-pane form ::-webkit-input-placeholder {
    font-size: 16px;
  }

  .make-order .order-pane form ::-moz-placeholder {
    font-size: 16px;
  }

  .make-order .order-pane form :-ms-input-placeholder {
    font-size: 16px;
  }

  .make-order .order-pane form :-moz-placeholder {
    font-size: 16px;
  }

  .statistic {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .banner {
    width: 100%;
    margin: 0;
    max-width: 100%;
  }

  header .content-wrap .part-left .phone {
    font-size: 16px;
    margin-right: 0;
  }

  header .content-wrap .part-right .content {
    margin-left: 10px;
  }

  #owl-feeds .item {
    margin: 10px;
  }

  #owl-feeds .item .text-wrap {
    width: -moz-calc(100% - 250px);
    width: calc(100% - 250px);
  }

  #owl-feeds .item .image {
    width: 300px;
    margin-top: -15px;
  }

  #owl-feeds img {
    width: 200px;
    height: 200px;
    margin-top: 0;
  }

  #owl-feeds .owl-controls {
    top: 60px;
    right: 15px;
  }

  .modal-wrap-gallery .window {
    width: -moz-calc(100% - 200px);
    width: calc(100% - 200px);
  }

  .gallery .hover .text {
    font-size: 16px;
  }

  .gallery .hover .text {
    font-size: 14px;
  }

  .gallery .hover .text span:before {
    margin-right: 5px;
  }

  .fixed-menu .content-wrap {
    font-size: 16px;
  }

  .fixed-menu .content-wrap .phone {
    font-size: 16px;
  }

  .fixed-menu .content-wrap .submit {
    font-size: 14px;
    width: 200px;
  }
}