.advantages-points {
  li {
    text-align: left;
  }
  @include push--auto;
  width: 850px;
  @include media(sm) {
    width: calc(100% - 40px);
  }
  @include media(md) {
    width: calc(100% - 100px);
  }
  @include media(lg) {
    width: calc(100% - 100px);
  }
  @include media(xl) {
    width: 850px;
  }
  @include media(wd) {
    width: 850px;
  }
}

.advantages {
  @include push--auto;
  width: 100%;
  margin-bottom: 50px;

  @include media(sm) {
    width: 100%;
  }
  @include media(md) {
    width: 350px;
  }
  @include media(wd) {
    width: 1000px;
  }
  form {
    display: flex;
    justify-content: space-around;
    @include push--auto;
    @include media(sm) {
      flex-wrap: wrap;
    }
    @include media(md) {
      flex-wrap: wrap;
    }
    .adv-form-item {
      width: 100%;
      margin: 0 12px;
      @include media(sm) {
        margin: 0 0 10px 0;
      }
      @include media(md) {
        margin: 0 0 10px 0;
      }
    }
    input {
      width: 100%;
      padding-left: 10px;
      height: 38px;
      box-sizing: border-box;
      color:$color-text-dark;
      @include font(GothaProReg);
      border: 1px solid $color-input-border;
      outline: none;
      -webkit-appearance: none;
      border-radius: 0;
      font-size: $font-wd-reg-input;
      @include media(sm) {
        font-size: $font-sm-reg-input;
        margin: 0;
      }
      @include media(md) {
        font-size: $font-md-reg-input;
        margin: 0;
      }
      @include media(lg) {
        font-size: $font-lg-reg-input;
      }
      @include media(xl) {
        font-size: $font-xl-reg-input;
      }
      &:focus {
        outline: none;
        -webkit-appearance: none;
        border-radius: 0;
        border: 1px solid $color-green-base;
      }
      &:hover, :active {
        outline: none;
        -webkit-appearance: none;
        border-radius: 0;
      }
    }
    .area {
      width: 100%;
    }
    .phone {
      width: 100%;
    }

    .submit {
      @include media(sm) {
        font-size: 14px;
      }
      @include media(md) {
        font-size: 14px;
      }
      color:#fff;
      @include font(GothaProBol);
      font-size: 16px;
      border: none;
      background-color: $color-green-base;
      height: 38px;
      &:hover,:focus, :active {
        background-color: $color-button-hover;
        border: none;
        outline: none;
        -webkit-appearance: none;
        border-radius: 0;
        cursor: pointer;
      }
      &:focus {
        background-color: $color-button-hover;
      }
      :active {
        background-color: $color-button-hover;
      }
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color:$color-text-placeholder;
      @include font(GothaProReg);
      font-size: $font-wd-reg-input;
      @include media(sm) {
        font-size: $font-sm-reg-input;
      }
      @include media(md) {
        font-size: $font-md-reg-input;
      }
      @include media(lg) {
        font-size: $font-lg-reg-input;
      }
      @include media(xl) {
        font-size: $font-xl-reg-input;
      }
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color:$color-text-placeholder;
      @include font(GothaProReg);
      font-size: $font-wd-reg-input;
      @include media(sm) {
        font-size: $font-sm-reg-input;
      }
      @include media(md) {
        font-size: $font-md-reg-input;
      }
      @include media(lg) {
        font-size: $font-lg-reg-input;
      }
      @include media(xl) {
        font-size: $font-xl-reg-input;
      }
    }
    :-ms-input-placeholder { /* IE 10+ */
      color:$color-text-placeholder;
      @include font(GothaProReg);
      font-size: $font-wd-reg-input;
      @include media(sm) {
        font-size: $font-sm-reg-input;
      }
      @include media(md) {
        font-size: $font-md-reg-input;
      }
      @include media(lg) {
        font-size: $font-lg-reg-input;
      }
      @include media(xl) {
        font-size: $font-xl-reg-input;
      }
    }
    :-moz-placeholder { /* Firefox 18- */
      color:$color-text-placeholder;
      @include font(GothaProReg);
      font-size: $font-wd-reg-input;
      @include media(sm) {
        font-size: $font-sm-reg-input;
      }
      @include media(md) {
        font-size: $font-md-reg-input;
      }
      @include media(lg) {
        font-size: $font-lg-reg-input;
      }
      @include media(xl) {
        font-size: $font-xl-reg-input;
      }
    }
  }
}
