.carousel-wrap {
  background: #354358;
  background: linear-gradient( to top, rgba(53,67,88,0.7),rgba(53,67,88,0.7)), url("../img/not-found.png") no-repeat center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 20px;
  @include media(wd) {
    padding-bottom: 20px;
  }
  .part-header {
    margin-bottom: 0;

    .caption {
      color: #fff;
    }
    .green-line {
      margin-top: 28px;
      margin-bottom: 28px;
    }
  }
}

#owl-feeds {
  max-width: $width-content;
  @include push--auto;
  .item {
    padding: 36px 0;
    min-height: 240px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 40px 50px;
    background: #fff;
    @include media(sm) {
      flex-wrap: wrap;
      margin: 10px;
    }
    @include media(md) {
      flex-wrap: wrap;
      margin: 10px;
    }
    @include media(lg) {
      margin: 10px;
    }
    .icon {
      color: $color-green-base;
      width: 80px;
      span:before{
        font-size: 45px;
        margin-left: 30px;
        @include media(md) {
          font-size: 30px;
          margin-left: 10px;
        }
      }

      @include media(sm) {
        display: none;
        width: 0;
      }
      @include media(md) {
        width: 30px;
      }
      @include media(lg) {
      }
      @include media(xl) {
      }
    }
    .text-wrap {
      margin-top: 15px;
      margin-left: 20px;
      margin-right: 20px;
      width: calc(100% - 390px);
      letter-spacing: 1px;
      @include media(sm) {
        width: calc(100% - 50px);
        margin-right: 0;
        margin-left: 0;
      }
      @include media(md) {
        width: calc(100% - 180px);
        margin-right: 0;
      }
      @include media(lg) {
        width: calc(100% - 250px);
      }
      .text {
        display: block;
        color: $color-text-predark;
        @include font(GothaProReg);
        font-size: 16px;
        line-height: 22px;
      }
      .author   {
        margin-top: 30px;
        margin-right: 20px;
        display: block;
        float: right;
        color: $color-text-dark;
        @include font(GothaProMed);
        font-size: 16px;
      }
    }
    .image {
      width: 400px;
      @include media(sm) {
        width: 0;
        margin:0;
        display: none;
      }
      @include media(md) {
        width: 130px;
      }
      @include media(lg) {
        width: 300px;
        margin-top: -15px;
      }
      img {
        position: absolute;
      }
    }
  }

  img{
    width: 280px;
    height: 280px;
    margin-top: -55px;
    @include media(md) {
      width: 100px;
      height: 100px;
      margin-top: 0;
    }
    @include media(lg) {
      width: 200px;
      height: 200px;
      margin-top: 0;
    }
  }
  .owl-wrapper-outer {
    position: relative;
  }
  .owl-controls {
    position: absolute;
    top: 90px;
    right: 70px;
    @include media(sm) {
      top: 70px;
      right: 10px;
    }
    @include media(md) {
      top: 70px;
      right: 10px;
    }
    @include media(lg) {
      top: 60px;
      right: 15px;
    }
    .owl-pagination {
      .owl-page {
        display: block;
        margin-bottom: 15px;
        span {
          border-radius: 0;
          background-color: #e4e5e5;
          margin: 8px 7px;
          opacity: 1;
          width: 16px;
          height: 16px;
        }
      }
      .owl-page.active {
        span {
          background-color: $color-green-base;
        }
      }
    }
  }
}



