.fixed-menu {
  display: none;
  width: 100%;
  height: 80px;
  background: $color-grey-menu;
  position: fixed;
  z-index: 3;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  top: -100px;
  @include media(sm) {
    height: auto;
  }
  @include media(md) {
    height: auto;
  }
  .content-wrap {
    @include push--auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    @include media(sm) {
      font-size: 14px;
      display: block;
      padding: 10px 20px;
      height: auto;
    }
    @include media(md) {
      font-size: 16px;
      display: block;
      padding: 13px 20px;
      height: auto;
    }
    @include media(lg) {
      font-size: 16px;
    }
    @include media(xl) {
      width: 100%;

    }
    @include media(wd) {
      width: $width-content;
      padding: 0;
    }

    .logo {
      float: left;
    //  max-width: 80px;
      height: 24px;
      overflow: hidden;
      margin-bottom: 10px;
      margin-top: 10px;
      a {
        img {
          height:100%;
        }
      }
    }
    a[href^="tel"]{
      color:inherit;
      text-decoration:none;
    }
    .phones {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 2;
      margin-top: -5px;
      @include media(sm) {
        display: block;
        float: right;
      }
      @include media(md) {
        display: block;
        float: right;
      }
    }
    .phone {
      margin-top: -6px;
      text-align: center;
      color: $color-text-dark;
      font-size: 20px;
      text-decoration:none;
      @include font(GothaProReg);
      @include media(sm) {
        font-size: $font-sm-reg-number;
        text-align: right;
        margin-bottom: 5px;
        margin-top: 0;
      }
      @include media(md) {
        font-size: $font-md-reg-number;
        text-align: right;
        margin-bottom: 5px;
        margin-top: 0;
      }
      @include media(lg) {
        font-size: $font-lg-reg-number;
      }
      @include media(xl) {
        font-size: $font-xl-reg-number;
        margin: 0 20px;
      }
      @include media(wd) {
        font-size: $font-wd-reg-number;
        margin: 0 30px;
      }
      .phone-ico {
        display: inline;
        &:before {
          font-size: 24px;
          margin-right: 5px;
          @include media(sm) {
            font-size: 20px;
            margin-left: 0;
          }
          @include media(md) {
            font-size: 22px;
            margin-left: 0;
          }
        }
      }
      .phone-number {
        display: inline;
      }
    }
    input {
      display: block;
      width: 100%;
      height: 34px;
      color:$color-text-dark;
      @include font(GothaProReg);
      font-size: 14pt;
      padding-left: 10px;
      border: 1px solid $color-input-border;
      outline: none;
      -webkit-appearance: none;
      border-radius: 0;
      &:focus {
        outline: none;
        -webkit-appearance: none;
        border-radius: 0;
        border: 1px solid $color-button-hover;
      }
      &:hover, :active {
        outline: none;
        -webkit-appearance: none;
        border-radius: 0;
      }
    }

    .submit {
      @include media(sm) {
        font-size: $font-sm-med-button;
        display: block;
        width: 100%;
        margin-top:10px;
        height: 32px;
      }
      @include media(md) {
        font-size: $font-md-med-button;
        display: block;
        width: 100%;
        margin-top:10px;
        height: 32px;
      }
      @include media(lg) {
        font-size: $font-lg-med-button;
        width: 200px;
      }
      @include media(xl) {
        font-size: $font-xl-med-button;
        width: 220px;
      }
      @include media(wd) {
        font-size: $font-wd-med-button;
        width: 220px;
      }
      width: 270px;
      color:#fff;
      @include font(GothaProMed);
      border: none;
      background-color: $color-green-base;
      height: 38px;
      &:hover,:focus, :active {
        background-color: $color-button-hover;
        border: none;
        outline: none;
        -webkit-appearance: none;
        border-radius: 0;
        cursor: pointer;
      }
      &:focus {
        background-color: $color-button-hover;
      }
      :active {
        background-color: $color-button-hover;
      }
    }
  }
}

