footer {
  .part-header {
    .caption {
      color: #fff;
    }
  }
  padding: 0 20px 20px 20px;
  background: #354358;
  background: linear-gradient( to top, rgba(53,67,88,0.7),rgba(53,67,88,0.7)), url("../img/not-found.png") no-repeat center;
  background-size: cover;
  @include media(wd) {
    padding: 0;
    padding-bottom: 20px;
  }

  .questions {
    min-height: 250px;
    padding-top: 60px;
    padding-bottom: 15px;
    .part-header {
      color: #fff;
      .text {
        color: #fff;
      }
    }
    .advantages {
      margin-bottom: 0;
      .name {
        @extend .area;
        color: #fff;
      }

      form {
        input {
          color: #fff;
          @include font(GothaProReg);
          border: 1px solid  #fff;
          background: none;
          outline: none;
          -webkit-appearance: none;
          border-radius: 0;
          &:focus {
            border: 1px solid $color-button-hover;
          }
        }

        .submit {
          color:#fff;
          background-color: $color-green-base;
          border: none;
          &:hover,:focus, :active {
            background-color: $color-button-hover;
            cursor: pointer;
          }
          &:focus {
            background-color: $color-button-hover;
          }
          :active {
            background-color: $color-button-hover;
          }
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #fff;
        }
        ::-moz-placeholder { /* Firefox 19+ */
          color: #fff;
        }
        :-ms-input-placeholder { /* IE 10+ */
          color: #fff;
        }
        :-moz-placeholder { /* Firefox 18- */
          color: #fff;
        }
      }
    }
  }
}

.gradient {
  //position: relative;
  //background: linear-gradient(to bottom,rgba(51,10,10,.4)0,rgba(51,10,10,0)100%),rgba(51,10,10,.4);
  //height: 200px;
}