#pipo-contacts {
  .modal-body {
    .close {
      position: absolute;
      right: 15px;
      margin-top: -20px;
      margin-right: -30px;
    }
    @media screen and (min-width: 768px) {
      background: red;
      padding: 20px;
      .close {
        margin-top: -30px;
        margin-right: -20px;
      }
    }
  }
}

.d-h {
  display: block;
  position: absolute;
  zoom: 1;
  overflow: hidden;
  width: 0;
  height: 0;
  left: -9999px;
}
.d-i {display: inline !important;}
.d-ib {display: inline-block !important;}
.d-t {display: table !important;}
.d-tr {display: table-row !important;}
.d-tc {display: table-cell !important;float: none !important;}

.pipo-contacts-text {
  display: none;
  &-active {
    display: block;
  }
}

.toggle .form-flex {
  overflow: hidden;
}

.form-answer {
  display: none;
  position: relative;
  zoom: 1;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  background: #ffffff;
  font-family: 'GothaProReg', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #5f5f5f;
  line-height: 20 / 16;
  width: 354px;
  @include media(sm) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  @include media(md) {
    margin-left: auto;
    margin-right: auto;
  }
  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .text-container {
    padding: 40px 20px;
  }
  .toggle & {
    display: table;
  }
  .d-tc {
    vertical-align: middle;
  }
}

.text-block-close {
  display: inline-block;
  font-weight:300;
  font-size: 2em;
  line-height: 1;
  text-decoration: none !important;
  padding-left: 1em;
  padding-right: 1em;
}

.has-error,
.has-error *,
.order .has-error input {
  color: #d94848 !important;
}

.form-control {
  &.has-error,
  .has-error & {
    border-color: #d94848 !important;
  }
}

.text-success {
  color: #96da47;
}
a.text-success:hover,
a.text-success:focus {
  color: darken(#96da47, 10%);
}

.text-danger {
  color: #d94848;
}
a.text-danger:hover,
a.text-danger:focus {
  color: darken(#d94848, 10%);
}

.h1 {
  font-family: 'LemonTuesday', 'verdana', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  letter-spacing: 2px;
}