.modal-wrap-gallery {
  display: none;
  .window {
    position: fixed;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include media(sm) {
      width: calc(100% - 40px);
    }
    @include media(md) {
      width: calc(100% - 40px);
    }
    @include media(lg) {
      width: calc(100% - 200px);
    }
    @include media(xl) {
      width: calc(100% - 200px);
    }
    @include media(wd) {
      width: calc(100% - 200px);
    }
    .image-wrap {
      display: block;
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      background: url("../img/not-found.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;
    }
  }
  .close {
    position: absolute;
    top: -30px;
    right: -30px;
    cursor: pointer;
    color: #abb0ba;
    span:before {
      font-size: 28px;
    }
    @include media(sm) {
      top: -40px;
      right: 0px;
    }
    @include media(md) {
      top: -40px;
      right: 0px;
    }
    &:hover {
      color: $color-grey-menu;
    }
  }
  .prev {
    position: absolute;
    top: calc(50% - 30px);
    left: -80px;
    cursor: pointer;
    color: #abb0ba;
    span:before {
      font-size: 50px;
      margin: 0;
    }
    @include media(sm) {
      top: calc(50% - 30px);
      left: 0px;
      font-size: 30px;
    }
    @include media(md) {
      top: calc(50% - 30px);
      left: 0px;
      font-size: 30px;
    }
    &:hover {
      color: $color-grey-menu;
    }
  }
  .next {
    position: absolute;
    top: calc(50% - 30px);
    right: -80px;
    cursor: pointer;
    color: #abb0ba;
    span:before {
      font-size: 50px;
      margin: 0;
    }
    @include media(sm) {
      top: calc(50% - 30px);
      right: 0px;
      font-size: 30px;
    }
    @include media(md) {
      top: calc(50% - 30px);
      right: 0px;
      font-size: 30px;
    }
    &:hover {
      color: $color-grey-menu;
    }
  }
  .overlay {
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: linear-gradient( to top, rgba(53,67,88,0.7),rgba(53,67,88,0.7));
  }
}

.gallery {
  width: 100%;
  margin-bottom: 75px;
  margin-top: 65px;
  .gallery-line {
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    @include media(sm) {
      flex-wrap: wrap;
    }
    @include media(md) {
      flex-wrap: wrap;
    }
    .item {
      position: relative;
      width: 100%;
      margin: 0;
      overflow: hidden;
      padding: 0;
      cursor: pointer;
      img{
        cursor: pointer;
      }
    }
    .type-1 {
      flex:   1   1  0;
      @include media(sm) {
        flex:   1   1  50%;
      }
      @include media(md) {
        flex:   1   1  50%;
      }
    }
    .type-2 {
      flex:   2   1  0;
      @include media(sm) {
        flex:   1   1  50%;
      }
      @include media(md) {
        flex:   1   1  50%;
      }
    }
  }
  .hover {
    background: linear-gradient( to top, rgba(150,218,71,0.7),rgba(150,218,71,0.7));
    position: absolute;
    width: 100%;
    height: 100%;
    top: -500px;
    left: 0;
    cursor: pointer;
    text-align: center;
    display: table;
    .text{
      position: relative;
      color: #fff;
      @include font(GothaProMed);
      font-size: 16px;
      display: table-cell;
      vertical-align: middle;
      @include media(sm) {
        font-size: 14px;
      }
      @include media(md) {
        font-size: 14px;
      }
      @include media(lg) {
        font-size: 16px;
      }
      @include media(lg) {
        font-size: 14px;
      }
      span:before {
        margin-right: 15px;
        margin-left: 0;
        vertical-align: middle;
        @include media(sm) {
          margin-right: 5px;
        }
        @include media(md) {
          margin-right: 15px;
        }
        @include media(lg) {
          margin-right: 5px;
        }
      }
    }
  }
}