.banner {
  width: 100%;
  max-width: 520px;
  position: relative;
  color: #fff;
  margin-bottom: 50px;
  @include media(sm) {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  @include media(md) {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  @include media(lg) {
    width: 100%;
    margin: 0;
    max-width: 100%;
  }
  .box {
    padding: 44px 40px 40px 40px;
    text-align: center;
    @include media(sm) {
      padding: 20px;
    }
    .header {
      @include font(GothaProMed);
      font-size: 16px;
      color: $color-green-base;
    }
    .caption {
      @include font(LemonTuesday);
      font-size: 58px;
      margin: 30px 0;
      @include media(sm) {
        font-size: 40px;
        line-height: 60px;
      }
      @include media(md) {
        font-size: 44px;
      }
    }
    .sale {
      @include font(GothaProMed);
      font-size: 20px;
      display: inline;
      span {
        border-bottom: solid 3px $color-green-base;
        display: inline;
        padding-bottom: 3px;
      }
    }
  }
  .angle-1 {
    width: 40px;
    height: 40px;
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  .angle-2 {
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    right: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
  }
  .angle-3 {
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    left: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
  }
  .angle-4 {
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    right: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
  }
}


header {
  min-height: 500px;
  background: #354358;
  background: url("../img/not-found.png") no-repeat top;
  background-size: cover;
  position: relative;
  .content-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    @include push--auto;
    @include media(sm) {
      flex-wrap: wrap;
    }
    @include media(md) {
      flex-wrap: wrap;
    }
    .logo {
      padding-top: 25px;
      padding-bottom: 76px;
      height: 50px;
      @include media(sm) {
        padding-top: 20px;
        padding-bottom: 20px;
        height: 40px;
      }
      @include media(md) {
        padding-top: 20px;
        padding-bottom: 30px;
      }
      a {
        height:100%;
        img {
          height:100%;
        }
      }
    }

    .part-left {
      position: relative;
      width: 50%;
      background: linear-gradient( to top, rgba(53,67,88,0.7),rgba(53,67,88,0.7));
      padding: 20px;
      @include media(sm) {
        width: 100%;
      }
      @include media(md) {
        width: 100%;
      }
      .content {
        width: 100%;
        max-width: 590px;
        float: right;
        @include media(sm) {
          width: 100%;
          max-width: 100%;
        }
        @include media(md) {
          width: 100%;
          max-width: 100%;
        }

     }
      a[href^="tel"]{
        color:inherit;
        text-decoration:none;
      }
      .phone {
        text-align: center;
        color: #fff;
        margin-right: 70px;
        margin-bottom: 40px;
        font-size: 20px;
        margin-top: 58px;
        text-decoration:none;
        @include font(GothaProMed);
        @include media(sm) {
          margin-right: 0;
          font-size: 14px;
        }
        @include media(md) {
          font-size: 16px;
          margin-right: 0;
        }
        @include media(lg) {
          font-size: 16px;
          margin-right: 0;
        }
        @include media(xl) {
          margin-right: 20px;
        }
        .phone-ico {
          display: inline;

          &:before {
            font-size: 28px;
            margin-right: 20px;
            margin-left:0;
            vertical-align: text-bottom;
            @include media(sm) {
              font-size: 20px;
            }
            @include media(md) {
              font-size: 22px;
            }
          }
        }
        .phone-number {
          margin-top: -5px;
          display: inline;
        }
      }
    }
    .part-right {
      width: 50%;
      padding-top: 86px;
      padding-bottom: 70px;

      @include media(sm) {
        width: 100%;
      }
      @include media(md) {
        width: 100%;
      }
      @include media(md) {
        width: 100%;
      }
      .content {
        //margin-left: 20%;
        @include media(sm) {
          margin: 0;
        }
        @include media(md) {
          margin: 0;
        }
        @include media(lg) {
          margin-left: 10px;
        }
        @include media(xl) {
          margin-left: 20%;
        }
        @include media(wd) {
          margin-left: 20%;
        }
        .order-wrapper {
          position: relative;

          .order {
            @include media(sm) {
              margin: 0;
              @include push--auto;
              display: block;
            }
            @include media(md) {
              margin: 0;
              @include push--auto;
              display: block;
            }
          }
        }
      }
    }
  }
}

.down {
  width: 30px;
  height: 58px;
  background: #fff;
  background: url("../img/down.png");
  position: absolute;
  right: -15px;
  bottom: 20px;

  @include media(sm) {
    display: none;
  }
  @include media(md) {
    display: none;
  }
}




// BUGS
.order-wrapper {
  width: 354px;
  background: rgba(255, 255, 255, 0.95);
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.order {
  width: 100%;
  height: 390px;
  background: none;
  display: block;
  padding: 44px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  .order-wrapper {
    margin-left: 25px;
    margin-right: 25px;
    width:100%;
  }
  .order {
    padding: 30px;
    width: 100%;
    height: auto;
    margin: 20px;
  }

  header .content-wrap .part-right .content .order-wrapper,
  header .content-wrap .part-right .content .order {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .modal-wrap .window .order-wrapper {
    width: 300px;
  }

  .modal-wrap .window .order {
    width: 100%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 767px) {
  header .content-wrap .part-right .content .order-wrapper {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  header .content-wrap .part-right .content .order {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}


