.make-order {
  background: $color-green-base;
  background:  url("../img/order.png") no-repeat center;
  background-size:cover;
  padding: 55px 20px 55px 20px;
  //height: 150px;
  margin-bottom: 80px;
  box-sizing: border-box;
  @include media(sm) {
    padding:10px 20px 20px 20px;
    box-sizing: content-box;
    height: auto;
  }
  @include media(md) {
    padding:10px 20px 20px 20px;
    box-sizing: content-box;
    height: auto;
  }
  @include media(lg) {
    padding:30px 20px 30px 20px;
  }
  .order-pane {
    width: 100%;
    @include push--auto;
    @include media(wd) {
      width: $width-content + 15px;
    }
    .caption {
      @include font(GothaProReg);
      font-size: 30px;
      color: #fff;
      margin-top: 2px;
      text-align: left;
      display: inline-block;
      @include media(sm) {
        width: 100%;
        font-size: 20px;
        margin: 15px 0 20px 0;
        text-align: center;
      }
      @include media(md) {
        width: 100%;
        font-size: 20px;
        text-align: center;
        margin: 15px 0 20px 0;
      }
      @include media(lg) {
        width: calc(100% - 400px);
        font-size: 22px;
      }
      @include media(xl) {
        width: calc(100% - 400px);
        font-size: 22px;
      }
    }

    .makeorder-wrp {
      width: 390px;
      @include media(sm) {
        width: 100%;
      }
      @include media(md) {
        width: 80%;
        @include push--auto;
      }
      @include media(lg) {
        display: inline-block;
       // float: right;
      }
      @include media(xl) {
        display: inline-block;
       // float: right;
      }
      @include media(wd) {
        display: inline-block;
      //  float: right;
      }
    }
    form {


      input {
        height: 34px;
        color:#fff;
        @include font(GothaProReg);
        font-size: 16px;
        padding-left: 10px;
        border: 1px solid #fff;
        background: none;
        outline: none;
        -webkit-appearance: none;
        border-radius: 0;
        &:focus {
          outline: none;
          -webkit-appearance: none;
          border-radius: 0;
          border: 1px solid $color-green-light;
        }
        &:hover, :active {
          outline: none;
          -webkit-appearance: none;
          border-radius: 0;
        }
      }

      .phone {
        width: calc(50% - 20px);
        @include media(sm) {
          margin-bottom: 10px;
          width: calc(100% - 10px);
        }
        @include media(md) {
          display: block;
          margin-bottom: 10px;
          @include push--auto;
          width: calc(100% - 10px);
        }
        @include media(lg) {
          display: block;
          margin-bottom: 10px;
          width: calc(100% - 10px);
        }
      }
      .submit {
        background: #fff;
        color: $color-green-base;
        height: 38px;
        width: 50%;
        margin-left: -5px;
        @include media(sm) {
          margin: 0;
          width: 100%;
        }
        @include media(md) {
          display: block;
          margin: 0;
          width: 100%;
          @include push--auto;
        }
        @include media(lg) {
          margin: 0;
          width: 100%;
        }
        &:focus {
          outline: none;
          -webkit-appearance: none;
          border-radius: 0;
        }
        &:hover, :active {
          outline: none;
          -webkit-appearance: none;
          border-radius: 0;
          background-color: $color-green-light;
          cursor: pointer;
        }
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color:#fff;
        @include font(GothaProReg);
        font-size: $font-wd-reg-input;
        @include media(sm) {
          font-size: $font-sm-reg-input;
        }
        @include media(md) {
          font-size: $font-md-reg-input;
        }
        @include media(lg) {
          font-size: $font-lg-reg-input;
        }
        @include media(xl) {
          font-size: $font-xl-reg-input;
        }
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color:#fff;
        @include font(GothaProReg);
        font-size: $font-wd-reg-input;
        @include media(sm) {
          font-size: $font-sm-reg-input;
        }
        @include media(md) {
          font-size: $font-md-reg-input;
        }
        @include media(lg) {
          font-size: $font-lg-reg-input;
        }
        @include media(xl) {
          font-size: $font-xl-reg-input;
        }
      }
      :-ms-input-placeholder { /* IE 10+ */
        color:#fff;
        @include font(GothaProReg);
        font-size: $font-wd-reg-input;
        @include media(sm) {
          font-size: $font-sm-reg-input;
        }
        @include media(md) {
          font-size: $font-md-reg-input;
        }
        @include media(lg) {
          font-size: $font-lg-reg-input;
        }
        @include media(xl) {
          font-size: $font-xl-reg-input;
        }
      }
      :-moz-placeholder { /* Firefox 18- */
        color:#fff;
        @include font(GothaProReg);
        font-size: $font-wd-reg-input;
        @include media(sm) {
          font-size: $font-sm-reg-input;
        }
        @include media(md) {
          font-size: $font-md-reg-input;
        }
        @include media(lg) {
          font-size: $font-lg-reg-input;
        }
        @include media(xl) {
          font-size: $font-xl-reg-input;
        }
      }
    }
  }
}
