/*
--------------------------------------------------------------------------------------------------------------------
Media queries 1
--------------------------------------------------------------------------------------------------------------------
*/
@mixin media($media) {
  @if $media == sm {
    @media only screen and (max-width: $small) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-width: $small) and (max-width: $medium - 1) { @content; }
  }
  @else if $media == lg {
    @media only screen and (min-width: $medium) and (max-width: $large - 1) { @content; }
  }
  @else if $media == xl {
    @media only screen and (min-width: $large) and (max-width: $xlarge - 1) { @content; }
  }
  @else if $media == wd {
    @media only screen and (min-width: $xlarge) { @content; }
  }
}
/*
@include media(sm) {
}
@include media(md) {
}
@include media(lg) {
}
@include media(xl) {
}
@include media(wd) {
}
*/



/*
--------------------------------------------------------------------------------------------------------------------
Media queries 2
--------------------------------------------------------------------------------------------------------------------
*/
//$breakpoints: (
//        "p1": 400px,
//        "p2": 480px,
//        "p3": 560px,
//        "t1": 640px,
//        "t2": 768px,
//        "t3": 1024px,
//        "d1": 1200px,
//        "d2": 1248px,
//        "d3": 1440px
//);
//@mixin mq($width, $type: min) {
//  @if map_has_key($breakpoints, $width) {
//    $width: map_get($breakpoints, $width);
//    @if $type == max {
//      $width: $width - 1px;
//    }
//    @media only screen and (#{$type}-width: $width) {
//      @content;
//    }
//  }
//}
/*
 block {
  @include mq('p1') {
  }
}*/



/*
--------------------------------------------------------------------------------------------------------------------
Push auto
--------------------------------------------------------------------------------------------------------------------
*/
@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}
//@include push--auto;



/*
--------------------------------------------------------------------------------------------------------------------
Responsive-ratio
--------------------------------------------------------------------------------------------------------------------
*/
@mixin resp-ratio($x,$y, $pseudo: false) {
  $padding: unquote( ( $y / $x ) * 100 + '%' );
  @if $pseudo {
    &:before {
      @include pseudo($pos: relative);
      width: 100%;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}
// @include resp-ratio(16,9);



/*
--------------------------------------------------------------------------------------------------------------------
Css-triangle
--------------------------------------------------------------------------------------------------------------------
*/
@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false){
  @include pseudo($pos: $position);
  width: 0;
  height: 0;
  @if $round {
    border-radius: 3px;
  }
  @if $direction == down {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
    margin-top: 0 - round( $size / 2.5 );
  } @else if $direction == up {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    margin-bottom: 0 - round( $size / 2.5 );
  } @else if $direction == right {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    margin-right: -$size;
  } @else if  $direction == left {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    margin-left: -$size;
  }
}


/*
--------------------------------------------------------------------------------------------------------------------
Input-placeholder
--------------------------------------------------------------------------------------------------------------------
*/
@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}
/*
input {
  @include input-placeholder {
    color: $grey;
  }
}*/



/*
--------------------------------------------------------------------------------------------------------------------
Z-index
--------------------------------------------------------------------------------------------------------------------
*/
@function z($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name)) + 1;
  } @else {
    @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
    @return null;
  }
}
$z-indexes: (
        "outdated-browser",
        "modal",
        "site-header",
        "page-wrapper",
        "site-footer"
);
/*
.site-header {
  z-index: z('site-header');
}
*/


/*
--------------------------------------------------------------------------------------------------------------------
Font-face
--------------------------------------------------------------------------------------------------------------------
*/
@mixin font($font, $style: normal, $weight: normal) {
  font-family: $font, Arial;
  font-style:  $style;
  font-weight: $weight;
}
/*
@include font(GothaProBol, normal, normal);
@include font(GothaProMed, normal, normal);
@include font(GothaProReg, normal, normal);
@include font(LemonTuesday, normal, normal);
*/

