.modal-wrap {
  .window {
    position: fixed;
    z-index: 5;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    form {
      position: relative;
    }
    .order {
      @include media(sm) {
        width: 300px;
      }
    }
  }

  .close {
    position: absolute;
    top: -30px;
    right: -30px;
    cursor: pointer;
    color: #abb0ba;
    span:before {
      font-size: 28px;
    }
    @include media(sm) {
      top: -10px;
      right: 19px;
    }
    &:hover {
      color: $color-grey-menu;
    }
  }
  .overlay {
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: linear-gradient( to top, rgba(53,67,88,0.7),rgba(53,67,88,0.7));
  }
}


