.order {
  width: 354px;
  height: 390px;
  background: rgba(255,255,255,0.95);
  display: inline-block;
  padding: 44px;
  box-sizing: border-box;
  text-align: center;
  @include media(sm) {
    padding: 30px;
    height: auto;
  }
  @include media(sm) {
    width: calc(100% - 50px);
    margin: 20px;
  }
  .header {
    display: block;
    @include font(GothaProMed);
    font-size: $font-wd-med-caption;
    color: $color-text-dark;
  }
  .text {
    display: block;
    @include font(GothaProReg);
    font-size: $font-wd-reg-text;
    color: $color-text-predark;
    margin-top: 22px;
    margin-bottom: 36px;
    line-height: 20px;
    @include media(sm) {
      margin: 15px 0;
    }
  }
  input {
    display: block;
    width: 100%;
    height: 34px;
    color:$color-text-dark;
    @include font(GothaProReg);
    font-size: $font-wd-reg-input;
    padding-left: 10px;
    border: 1px solid $color-input-border;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    &:focus {
      outline: none;
      -webkit-appearance: none;
      border-radius: 0;
      border: 1px solid $color-button-hover;
    }
    &:hover, :active {
      outline: none;
      -webkit-appearance: none;
      border-radius: 0;
    }
  }
  .phone{
    background: none;
    display: block;
    width: calc(100% - 12px);
    margin: 15px 0;
    @include media(sm) {
      margin: 10px 0;
    }
  }
  .submit {
    width: 100%;
    color:#fff;
    @include font(GothaProMed);
    font-size: $font-wd-med-button;
    border: none;
    background-color: $color-green-base;
    height: 38px;
    &:hover,:focus, :active {
      background-color: $color-button-hover;
      border: none;
      outline: none;
      -webkit-appearance: none;
      border-radius: 0;
      cursor: pointer;
    }
    &:focus {
      background-color: $color-button-hover;
    }
    :active {
      background-color: $color-button-hover;
    }
  }
  .timer-wrap {
    .timer-text {
      display: block;
      @include font(GothaProMed);
      font-size: 14px;
      color: $color-text-dark;
      margin: 35px 0 10px 0;
      text-transform: uppercase;
      @include media(sm) {
        margin: 20px 0 10px 0;
      }
    }
    .timer-time {
      display: block;
      @include font(GothaProMed);
      font-size: 36px;
      color: $color-text-timer;
    }
  }
}
