.part-header {
  text-align: center;
  margin-bottom: 46px;
  @include media(sm) {
    margin-bottom: 20px;
  }
  @include media(md) {
    margin-bottom: 30px;
  }
  .caption {
    @include font(LemonTuesday);
    font-size: $font-wd-lemon;
    letter-spacing: 2px;
    color: $color-text-dark;
    @include media(sm) {
      font-size: $font-sm-lemon;
    }
    @include media(md) {
      font-size: $font-md-lemon;
    }
  }
  .green-line {
    width: 78px;
    height: 3px;
    background-color: $color-green-base;
    @include push--auto;
    margin-top: 22px;
    margin-bottom: 22px;
    @include media(sm) {
      height: 2px;
    }
    @include media(md) {
      height: 2px;
    }
  }
  .text {
    @include font(GothaProReg);
    font-size: $font-wd-reg-text;
    color: $color-text-predark;
    line-height: 24px;
    width: 100%;
    @include media(sm) {
      font-size: $font-sm-reg-text;
    }
    @include media(md) {
      font-size: $font-md-reg-text;
    }

    @include media(xl) {
      display: block;
      width: $width-part-header-text;
      @include push--auto;
    }
    @include media(wd) {
      display: block;
      width: $width-part-header-text;
      @include push--auto;
    }
  }
}


.part-header-spec {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 60px 0;
  @include push--auto;
  @include media(wd) {
    width: $width-content;
  }
  @include media(sm) {
    flex-wrap: wrap;
    margin: 20px 0;
  }
  @include media(md) {
    flex-wrap: wrap;
    margin: 20px 0;
  }
  div {
    width: 100%;
    margin: 0 10px;
    @include media(sm) {
      margin: 0 0 20px 0;
    }
    @include media(md) {
      margin: 0 0 20px 0;
    }
  }

  .caption {
    @include font(LemonTuesday);
    font-size: $font-wd-lemon;
    letter-spacing: 2px;
    margin-left: -5px;
    @include media(sm) {
      font-size: $font-sm-lemon;
      text-align: center;
      margin-left: 0;
    }
    @include media(md) {
      font-size: $font-md-lemon;
      text-align: center;
      margin-left: 0;
    }
  }
  .green-line {
    display: block;
    width: 78px;
    height: 3px;
    background-color: $color-green-base;
    margin-top: 15px;
    margin-bottom: 20px;
    @include media(sm) {
      height: 2px;
      margin-bottom: 10px;
      @include push--auto;
    }
    @include media(md) {
      height: 2px;
      margin-bottom: 10px;
      @include push--auto;
    }
  }
  .text {
    @include font(GothaProReg);
    letter-spacing: 1px;
    color: $color-text-predark;
    line-height: 24px;
    font-size: $font-xl-reg-text;
    @include media(sm) {
      font-size: $font-xl-reg-text;
    }
    @include media(md) {
      font-size: $font-xl-reg-text;
    }
    @include media(lg) {
      font-size: $font-xl-reg-text;
    }
    @include media(xl) {
      font-size: $font-xl-reg-text;
    }
  }
}
