.statistic {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  @include media(sm) {
    flex-wrap: wrap;
  }
  @include media(md) {
    flex-wrap: wrap;
  }
  @include media(lg) {
    flex-wrap: wrap;
  }
  .item {
    position: relative;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 70px 20px;
    overflow: hidden;
    .caption {
      @include font(LemonTuesday);
      font-size: 60px;
      letter-spacing: 2px;
      display: block;
      margin-bottom: 28px;
      position: inherit;
    }
    .text {
      display: block;
      @include font(GothaProMed);
      font-size: $font-wd-med-stat;
      color: #fff;
      position: inherit;
    }
  }
  .item-1 {
    background: #354358;
    background: linear-gradient( to top, rgba(58,68,89,0.6),rgba(58,68,89,0.6)), url("../img/not-found.png") no-repeat center;
    background-size: cover;
  }
  .item-2 {
    background: #354358;
    background: linear-gradient( to top, rgba(58,68,89,0.6),rgba(58,68,89,0.6)), url("../img/not-found.png") no-repeat center;
    background-size: cover;
  }
  .item-3 {
    background: #354358;
    background: linear-gradient( to top, rgba(58,68,89,0.6),rgba(58,68,89,0.6)), url("../img/not-found.png") no-repeat center;
    background-size: cover;
  }

  .hover {
    background: linear-gradient( to top, rgba(150,218,71,0.7),rgba(150,218,71,0.7));
    position: absolute;
    width: 100%;
    height: 100%;
    top: -500px;
    left: 0;
    display: none;
    &:before {
      content: "\A";
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #fff;
      position: absolute;
      margin-left: -20px;
    }
  }
}