@charset "UTF-8";

$font-body: 14px 'Roboto';

//like in bootstrap
$small: 400px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

$width-content: 1130px;
$width-part-header-text: 810px;
$color-text-predark: #5f5f5f;
$color-text-dark: #313131;
$color-text-placeholder: #6a6a6a;
$color-button-hover: #a0e54f;
$color-input-border: #334358;
$color-green-light: #f2ffe4;
$color-blue-dark: #3a4459;
$color-text-timer: #2e3344;
$color-grey-menu: #f1f3f3;
$color-green-base: #96da47;

$font-sm-med-button: 14px;
$font-md-med-button: 14px;
$font-lg-med-button: 14px;
$font-xl-med-button: 14px;
$font-wd-med-button: 16px;

$font-sm-med-input: 14px;
$font-md-med-input: 14px;
$font-lg-med-input: 14px;
$font-xl-med-input: 14px;
$font-wd-med-input: 16px;

$font-sm-med-caption: 14px;
$font-md-med-caption: 16px;
$font-lg-med-caption: 16px;
$font-xl-med-caption: 16px;
$font-wd-med-caption: 20px;

$font-sm-med-stat: 14px;
$font-md-med-stat: 16px;
$font-lg-med-stat: 16px;
$font-xl-med-stat: 16px;
$font-wd-med-stat: 18px;

$font-sm-reg-input: 16px;
$font-md-reg-input: 16px;
$font-lg-reg-input: 16px;
$font-xl-reg-input: 16px;
$font-wd-reg-input: 16px;

$font-sm-reg-text: 16px;
$font-md-reg-text: 16px;
$font-lg-reg-text: 16px;
$font-xl-reg-text: 16px;
$font-wd-reg-text: 16px;

$font-sm-reg-number: 14px;
$font-md-reg-number: 16px;
$font-lg-reg-number: 16px;
$font-xl-reg-number: 16px;
$font-wd-reg-number: 20px;

$font-sm-lemon: 34px;
$font-md-lemon: 34px;
$font-lg-lemon: 34px;
$font-xl-lemon: 34px;
$font-wd-lemon: 36px;

@each $font-face in GothaProBol, GothaProReg, GothaProMed, LemonTuesday {
  @font-face {
    font-family: $font-face; font-style: normal; font-weight: normal;
    src: url('../fonts/#{$font-face}.woff') format('woff'),
    url('../fonts/#{$font-face}.woff2') format('woff2'),
    url('../fonts/#{$font-face}.ttf')  format('truetype');
  }
}


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}


body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}
/*
--------------------------------------------------------------------------------------------------------------------
Media queries 1
--------------------------------------------------------------------------------------------------------------------
*/
@mixin media($media) {
  @if $media == sm {
    @media only screen and (max-width: $small) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-width: $small) and (max-width: $medium - 1) { @content; }
  }
  @else if $media == lg {
    @media only screen and (min-width: $medium) and (max-width: $large - 1) { @content; }
  }
  @else if $media == xl {
    @media only screen and (min-width: $large) and (max-width: $xlarge - 1) { @content; }
  }
  @else if $media == wd {
    @media only screen and (min-width: $xlarge) { @content; }
  }
}
/*
@include media(sm) {
}
@include media(md) {
}
@include media(lg) {
}
@include media(xl) {
}
@include media(wd) {
}
*/



/*
--------------------------------------------------------------------------------------------------------------------
Media queries 2
--------------------------------------------------------------------------------------------------------------------
*/
//$breakpoints: (
//        "p1": 400px,
//        "p2": 480px,
//        "p3": 560px,
//        "t1": 640px,
//        "t2": 768px,
//        "t3": 1024px,
//        "d1": 1200px,
//        "d2": 1248px,
//        "d3": 1440px
//);
//@mixin mq($width, $type: min) {
//  @if map_has_key($breakpoints, $width) {
//    $width: map_get($breakpoints, $width);
//    @if $type == max {
//      $width: $width - 1px;
//    }
//    @media only screen and (#{$type}-width: $width) {
//      @content;
//    }
//  }
//}
/*
 block {
  @include mq('p1') {
  }
}*/



/*
--------------------------------------------------------------------------------------------------------------------
Push auto
--------------------------------------------------------------------------------------------------------------------
*/
@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}
//@include push--auto;



/*
--------------------------------------------------------------------------------------------------------------------
Responsive-ratio
--------------------------------------------------------------------------------------------------------------------
*/
@mixin resp-ratio($x,$y, $pseudo: false) {
  $padding: unquote( ( $y / $x ) * 100 + '%' );
  @if $pseudo {
    &:before {
      @include pseudo($pos: relative);
      width: 100%;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}
// @include resp-ratio(16,9);



/*
--------------------------------------------------------------------------------------------------------------------
Css-triangle
--------------------------------------------------------------------------------------------------------------------
*/
@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false){
  @include pseudo($pos: $position);
  width: 0;
  height: 0;
  @if $round {
    border-radius: 3px;
  }
  @if $direction == down {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
    margin-top: 0 - round( $size / 2.5 );
  } @else if $direction == up {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    margin-bottom: 0 - round( $size / 2.5 );
  } @else if $direction == right {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    margin-right: -$size;
  } @else if  $direction == left {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    margin-left: -$size;
  }
}


/*
--------------------------------------------------------------------------------------------------------------------
Input-placeholder
--------------------------------------------------------------------------------------------------------------------
*/
@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}
/*
input {
  @include input-placeholder {
    color: $grey;
  }
}*/



/*
--------------------------------------------------------------------------------------------------------------------
Z-index
--------------------------------------------------------------------------------------------------------------------
*/
@function z($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name)) + 1;
  } @else {
    @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
    @return null;
  }
}
$z-indexes: (
        "outdated-browser",
        "modal",
        "site-header",
        "page-wrapper",
        "site-footer"
);
/*
.site-header {
  z-index: z('site-header');
}
*/


/*
--------------------------------------------------------------------------------------------------------------------
Font-face
--------------------------------------------------------------------------------------------------------------------
*/
@mixin font($font, $style: normal, $weight: normal) {
  font-family: $font, Arial;
  font-style:  $style;
  font-weight: $weight;
}
/*
@include font(GothaProBol, normal, normal);
@include font(GothaProMed, normal, normal);
@include font(GothaProReg, normal, normal);
@include font(LemonTuesday, normal, normal);
*/


.no-full-width {
  padding: 0 20px;
  @include media(wd) {
    padding: 0;
  }
}

.part-header {
  text-align: center;
  margin-bottom: 46px;
  @include media(sm) {
    margin-bottom: 20px;
  }
  @include media(md) {
    margin-bottom: 30px;
  }
  .caption {
    @include font(LemonTuesday);
    font-size: $font-wd-lemon;
    letter-spacing: 2px;
    color: $color-text-dark;
    @include media(sm) {
      font-size: $font-sm-lemon;
    }
    @include media(md) {
      font-size: $font-md-lemon;
    }
  }
  .green-line {
    width: 78px;
    height: 3px;
    background-color: $color-green-base;
    @include push--auto;
    margin-top: 22px;
    margin-bottom: 22px;
    @include media(sm) {
      height: 2px;
    }
    @include media(md) {
      height: 2px;
    }
  }
  .text {
    @include font(GothaProReg);
    font-size: $font-wd-reg-text;
    color: $color-text-predark;
    line-height: 24px;
    width: 100%;
    @include media(sm) {
      font-size: $font-sm-reg-text;
    }
    @include media(md) {
      font-size: $font-md-reg-text;
    }

    @include media(xl) {
      display: block;
      width: $width-part-header-text;
      @include push--auto;
    }
    @include media(wd) {
      display: block;
      width: $width-part-header-text;
      @include push--auto;
    }
  }
}


.part-header-spec {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 60px 0;
  @include push--auto;
  @include media(wd) {
    width: $width-content;
  }
  @include media(sm) {
    flex-wrap: wrap;
    margin: 20px 0;
  }
  @include media(md) {
    flex-wrap: wrap;
    margin: 20px 0;
  }
  div {
    width: 100%;
    margin: 0 10px;
    @include media(sm) {
      margin: 0 0 20px 0;
    }
    @include media(md) {
      margin: 0 0 20px 0;
    }
  }

  .caption {
    @include font(LemonTuesday);
    font-size: $font-wd-lemon;
    letter-spacing: 2px;
    margin-left: -5px;
    @include media(sm) {
      font-size: $font-sm-lemon;
      text-align: center;
      margin-left: 0;
    }
    @include media(md) {
      font-size: $font-md-lemon;
      text-align: center;
      margin-left: 0;
    }
  }
  .green-line {
    display: block;
    width: 78px;
    height: 3px;
    background-color: $color-green-base;
    margin-top: 15px;
    margin-bottom: 20px;
    @include media(sm) {
      height: 2px;
      margin-bottom: 10px;
      @include push--auto;
    }
    @include media(md) {
      height: 2px;
      margin-bottom: 10px;
      @include push--auto;
    }
  }
  .text {
    @include font(GothaProReg);
    letter-spacing: 1px;
    color: $color-text-predark;
    line-height: 24px;
    font-size: $font-xl-reg-text;
    @include media(sm) {
      font-size: $font-xl-reg-text;
    }
    @include media(md) {
      font-size: $font-xl-reg-text;
    }
    @include media(lg) {
      font-size: $font-xl-reg-text;
    }
    @include media(xl) {
      font-size: $font-xl-reg-text;
    }
  }
}

.work {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 60px;
  @include push--auto;
  @include media(wd) {
    width: $width-content + 20px;
  }
  .work-content {
    display: flex;
    justify-content: space-around;
    @include media(sm) {
      flex-wrap: wrap;
    }
    @include media(md) {
      flex-wrap: wrap;
    }
    .content-item {
      width: 100%;
      margin: 0 10px;
      background-image: url(../img/background-item.jpg);
      background-size:cover;
      text-align: center;
      height: 240px;
      color: $color-text-dark;
      padding: 15px;
      @include media(sm) {
        margin: 10px 0;
        height: 150px;
      }
      @include media(md) {
        margin: 10px 40px;
        height: 160px;
        width: 80%;
      }
      @include media(lg) {
        height: 200px;
      }
      @include media(xl) {
        height: 240px;
      }
      &:first-child {
        .image {
          margin-top: 25pt;
          margin-bottom: -13px;
          span:before{
            font-size: 52px;
            @include media(sm) {
              font-size: 30px;
            }
            @include media(md) {
              font-size: 40px;
            }
          }
          @include media(sm) {
            margin-top: 10px;
          }
          @include media(md) {
            margin-top: 10px;
          }
        }
      }
      .image {
        display: block;
        @include push--auto;
        height: 80px;
        margin-top: 20px;
        @include media(sm) {
          margin-top: 0px;
        }
        @include media(md) {
          margin-top: 0px;
        }
        span:before{
          font-size: 72px;
          color: $color-green-base;
          margin-left: 0;
          @include media(sm) {
            font-size: 50px;
          }
          @include media(md) {
            font-size: 60px;
          }
        }
      }
      .caption {
        display: block;
        @include font(GothaProBol);
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 30px;
        @include media(sm) {
          font-size: 20px;
          margin: 10px 0;
        }
        @include media(md) {
          font-size: 20px;
          margin: 5px 0;
        }
        @include media(lg) {
          font-size: 20px;
          margin: 10px 0;
        }
        @include media(xl) {
          font-size: 28px;
        }
      }
      .text {
        display: block;
        @include font(GothaProReg);
        font-size: 18px;
        @include media(sm) {
          font-size: 14px;
        }
        @include media(md) {
          font-size: 15px;
        }
        @include media(lg) {
          font-size: 15px;
        }
        @include media(xl) {
          font-size: 18px;
        }
      }
    }
  }
}
.advantages-points {
  li {
    text-align: left;
  }
  @include push--auto;
  width: 850px;
  @include media(sm) {
    width: calc(100% - 40px);
  }
  @include media(md) {
    width: calc(100% - 100px);
  }
  @include media(lg) {
    width: calc(100% - 100px);
  }
  @include media(xl) {
    width: 850px;
  }
  @include media(wd) {
    width: 850px;
  }
}

.advantages {
  @include push--auto;
  width: 100%;
  margin-bottom: 50px;

  @include media(sm) {
    width: 100%;
  }
  @include media(md) {
    width: 350px;
  }
  @include media(wd) {
    width: 1000px;
  }
  form {
    display: flex;
    justify-content: space-around;
    @include push--auto;
    @include media(sm) {
      flex-wrap: wrap;
    }
    @include media(md) {
      flex-wrap: wrap;
    }
    .adv-form-item {
      width: 100%;
      margin: 0 12px;
      @include media(sm) {
        margin: 0 0 10px 0;
      }
      @include media(md) {
        margin: 0 0 10px 0;
      }
    }
    input {
      width: 100%;
      padding-left: 10px;
      height: 38px;
      box-sizing: border-box;
      color:$color-text-dark;
      @include font(GothaProReg);
      border: 1px solid $color-input-border;
      outline: none;
      -webkit-appearance: none;
      border-radius: 0;
      font-size: $font-wd-reg-input;
      @include media(sm) {
        font-size: $font-sm-reg-input;
        margin: 0;
      }
      @include media(md) {
        font-size: $font-md-reg-input;
        margin: 0;
      }
      @include media(lg) {
        font-size: $font-lg-reg-input;
      }
      @include media(xl) {
        font-size: $font-xl-reg-input;
      }
      &:focus {
        outline: none;
        -webkit-appearance: none;
        border-radius: 0;
        border: 1px solid $color-green-base;
      }
      &:hover, :active {
        outline: none;
        -webkit-appearance: none;
        border-radius: 0;
      }
    }
    .area {
      width: 100%;
    }
    .phone {
      width: 100%;
    }

    .submit {
      @include media(sm) {
        font-size: 14px;
      }
      @include media(md) {
        font-size: 14px;
      }
      color:#fff;
      @include font(GothaProBol);
      font-size: 16px;
      border: none;
      background-color: $color-green-base;
      height: 38px;
      &:hover,:focus, :active {
        background-color: $color-button-hover;
        border: none;
        outline: none;
        -webkit-appearance: none;
        border-radius: 0;
        cursor: pointer;
      }
      &:focus {
        background-color: $color-button-hover;
      }
      :active {
        background-color: $color-button-hover;
      }
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color:$color-text-placeholder;
      @include font(GothaProReg);
      font-size: $font-wd-reg-input;
      @include media(sm) {
        font-size: $font-sm-reg-input;
      }
      @include media(md) {
        font-size: $font-md-reg-input;
      }
      @include media(lg) {
        font-size: $font-lg-reg-input;
      }
      @include media(xl) {
        font-size: $font-xl-reg-input;
      }
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color:$color-text-placeholder;
      @include font(GothaProReg);
      font-size: $font-wd-reg-input;
      @include media(sm) {
        font-size: $font-sm-reg-input;
      }
      @include media(md) {
        font-size: $font-md-reg-input;
      }
      @include media(lg) {
        font-size: $font-lg-reg-input;
      }
      @include media(xl) {
        font-size: $font-xl-reg-input;
      }
    }
    :-ms-input-placeholder { /* IE 10+ */
      color:$color-text-placeholder;
      @include font(GothaProReg);
      font-size: $font-wd-reg-input;
      @include media(sm) {
        font-size: $font-sm-reg-input;
      }
      @include media(md) {
        font-size: $font-md-reg-input;
      }
      @include media(lg) {
        font-size: $font-lg-reg-input;
      }
      @include media(xl) {
        font-size: $font-xl-reg-input;
      }
    }
    :-moz-placeholder { /* Firefox 18- */
      color:$color-text-placeholder;
      @include font(GothaProReg);
      font-size: $font-wd-reg-input;
      @include media(sm) {
        font-size: $font-sm-reg-input;
      }
      @include media(md) {
        font-size: $font-md-reg-input;
      }
      @include media(lg) {
        font-size: $font-lg-reg-input;
      }
      @include media(xl) {
        font-size: $font-xl-reg-input;
      }
    }
  }
}

footer {
  .part-header {
    .caption {
      color: #fff;
    }
  }
  padding: 0 20px 20px 20px;
  background: #354358;
  background: linear-gradient( to top, rgba(53,67,88,0.7),rgba(53,67,88,0.7)), url("../img/not-found.png") no-repeat center;
  background-size: cover;
  @include media(wd) {
    padding: 0;
    padding-bottom: 20px;
  }

  .questions {
    min-height: 250px;
    padding-top: 60px;
    padding-bottom: 15px;
    .part-header {
      color: #fff;
      .text {
        color: #fff;
      }
    }
    .advantages {
      margin-bottom: 0;
      .name {
        @extend .area;
        color: #fff;
      }

      form {
        input {
          color: #fff;
          @include font(GothaProReg);
          border: 1px solid  #fff;
          background: none;
          outline: none;
          -webkit-appearance: none;
          border-radius: 0;
          &:focus {
            border: 1px solid $color-button-hover;
          }
        }

        .submit {
          color:#fff;
          background-color: $color-green-base;
          border: none;
          &:hover,:focus, :active {
            background-color: $color-button-hover;
            cursor: pointer;
          }
          &:focus {
            background-color: $color-button-hover;
          }
          :active {
            background-color: $color-button-hover;
          }
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #fff;
        }
        ::-moz-placeholder { /* Firefox 19+ */
          color: #fff;
        }
        :-ms-input-placeholder { /* IE 10+ */
          color: #fff;
        }
        :-moz-placeholder { /* Firefox 18- */
          color: #fff;
        }
      }
    }
  }
}

.gradient {
  //position: relative;
  //background: linear-gradient(to bottom,rgba(51,10,10,.4)0,rgba(51,10,10,0)100%),rgba(51,10,10,.4);
  //height: 200px;
}
.make-order {
  background: $color-green-base;
  background:  url("../img/order.png") no-repeat center;
  background-size:cover;
  padding: 55px 20px 55px 20px;
  //height: 150px;
  margin-bottom: 80px;
  box-sizing: border-box;
  @include media(sm) {
    padding:10px 20px 20px 20px;
    box-sizing: content-box;
    height: auto;
  }
  @include media(md) {
    padding:10px 20px 20px 20px;
    box-sizing: content-box;
    height: auto;
  }
  @include media(lg) {
    padding:30px 20px 30px 20px;
  }
  .order-pane {
    width: 100%;
    @include push--auto;
    @include media(wd) {
      width: $width-content + 15px;
    }
    .caption {
      @include font(GothaProReg);
      font-size: 30px;
      color: #fff;
      margin-top: 2px;
      text-align: left;
      display: inline-block;
      @include media(sm) {
        width: 100%;
        font-size: 20px;
        margin: 15px 0 20px 0;
        text-align: center;
      }
      @include media(md) {
        width: 100%;
        font-size: 20px;
        text-align: center;
        margin: 15px 0 20px 0;
      }
      @include media(lg) {
        width: calc(100% - 400px);
        font-size: 22px;
      }
      @include media(xl) {
        width: calc(100% - 400px);
        font-size: 22px;
      }
    }

    .makeorder-wrp {
      width: 390px;
      @include media(sm) {
        width: 100%;
      }
      @include media(md) {
        width: 80%;
        @include push--auto;
      }
      @include media(lg) {
        display: inline-block;
       // float: right;
      }
      @include media(xl) {
        display: inline-block;
       // float: right;
      }
      @include media(wd) {
        display: inline-block;
      //  float: right;
      }
    }
    form {


      input {
        height: 34px;
        color:#fff;
        @include font(GothaProReg);
        font-size: 16px;
        padding-left: 10px;
        border: 1px solid #fff;
        background: none;
        outline: none;
        -webkit-appearance: none;
        border-radius: 0;
        &:focus {
          outline: none;
          -webkit-appearance: none;
          border-radius: 0;
          border: 1px solid $color-green-light;
        }
        &:hover, :active {
          outline: none;
          -webkit-appearance: none;
          border-radius: 0;
        }
      }

      .phone {
        width: calc(50% - 20px);
        @include media(sm) {
          margin-bottom: 10px;
          width: calc(100% - 10px);
        }
        @include media(md) {
          display: block;
          margin-bottom: 10px;
          @include push--auto;
          width: calc(100% - 10px);
        }
        @include media(lg) {
          display: block;
          margin-bottom: 10px;
          width: calc(100% - 10px);
        }
      }
      .submit {
        background: #fff;
        color: $color-green-base;
        height: 38px;
        width: 50%;
        margin-left: -5px;
        @include media(sm) {
          margin: 0;
          width: 100%;
        }
        @include media(md) {
          display: block;
          margin: 0;
          width: 100%;
          @include push--auto;
        }
        @include media(lg) {
          margin: 0;
          width: 100%;
        }
        &:focus {
          outline: none;
          -webkit-appearance: none;
          border-radius: 0;
        }
        &:hover, :active {
          outline: none;
          -webkit-appearance: none;
          border-radius: 0;
          background-color: $color-green-light;
          cursor: pointer;
        }
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color:#fff;
        @include font(GothaProReg);
        font-size: $font-wd-reg-input;
        @include media(sm) {
          font-size: $font-sm-reg-input;
        }
        @include media(md) {
          font-size: $font-md-reg-input;
        }
        @include media(lg) {
          font-size: $font-lg-reg-input;
        }
        @include media(xl) {
          font-size: $font-xl-reg-input;
        }
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color:#fff;
        @include font(GothaProReg);
        font-size: $font-wd-reg-input;
        @include media(sm) {
          font-size: $font-sm-reg-input;
        }
        @include media(md) {
          font-size: $font-md-reg-input;
        }
        @include media(lg) {
          font-size: $font-lg-reg-input;
        }
        @include media(xl) {
          font-size: $font-xl-reg-input;
        }
      }
      :-ms-input-placeholder { /* IE 10+ */
        color:#fff;
        @include font(GothaProReg);
        font-size: $font-wd-reg-input;
        @include media(sm) {
          font-size: $font-sm-reg-input;
        }
        @include media(md) {
          font-size: $font-md-reg-input;
        }
        @include media(lg) {
          font-size: $font-lg-reg-input;
        }
        @include media(xl) {
          font-size: $font-xl-reg-input;
        }
      }
      :-moz-placeholder { /* Firefox 18- */
        color:#fff;
        @include font(GothaProReg);
        font-size: $font-wd-reg-input;
        @include media(sm) {
          font-size: $font-sm-reg-input;
        }
        @include media(md) {
          font-size: $font-md-reg-input;
        }
        @include media(lg) {
          font-size: $font-lg-reg-input;
        }
        @include media(xl) {
          font-size: $font-xl-reg-input;
        }
      }
    }
  }
}

.statistic {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  @include media(sm) {
    flex-wrap: wrap;
  }
  @include media(md) {
    flex-wrap: wrap;
  }
  @include media(lg) {
    flex-wrap: wrap;
  }
  .item {
    position: relative;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 70px 20px;
    overflow: hidden;
    .caption {
      @include font(LemonTuesday);
      font-size: 60px;
      letter-spacing: 2px;
      display: block;
      margin-bottom: 28px;
      position: inherit;
    }
    .text {
      display: block;
      @include font(GothaProMed);
      font-size: $font-wd-med-stat;
      color: #fff;
      position: inherit;
    }
  }
  .item-1 {
    background: #354358;
    background: linear-gradient( to top, rgba(58,68,89,0.6),rgba(58,68,89,0.6)), url("../img/not-found.png") no-repeat center;
    background-size: cover;
  }
  .item-2 {
    background: #354358;
    background: linear-gradient( to top, rgba(58,68,89,0.6),rgba(58,68,89,0.6)), url("../img/not-found.png") no-repeat center;
    background-size: cover;
  }
  .item-3 {
    background: #354358;
    background: linear-gradient( to top, rgba(58,68,89,0.6),rgba(58,68,89,0.6)), url("../img/not-found.png") no-repeat center;
    background-size: cover;
  }

  .hover {
    background: linear-gradient( to top, rgba(150,218,71,0.7),rgba(150,218,71,0.7));
    position: absolute;
    width: 100%;
    height: 100%;
    top: -500px;
    left: 0;
    display: none;
    &:before {
      content: "\A";
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #fff;
      position: absolute;
      margin-left: -20px;
    }
  }
}
.order {
  width: 354px;
  height: 390px;
  background: rgba(255,255,255,0.95);
  display: inline-block;
  padding: 44px;
  box-sizing: border-box;
  text-align: center;
  @include media(sm) {
    padding: 30px;
    height: auto;
  }
  @include media(sm) {
    width: calc(100% - 50px);
    margin: 20px;
  }
  .header {
    display: block;
    @include font(GothaProMed);
    font-size: $font-wd-med-caption;
    color: $color-text-dark;
  }
  .text {
    display: block;
    @include font(GothaProReg);
    font-size: $font-wd-reg-text;
    color: $color-text-predark;
    margin-top: 22px;
    margin-bottom: 36px;
    line-height: 20px;
    @include media(sm) {
      margin: 15px 0;
    }
  }
  input {
    display: block;
    width: 100%;
    height: 34px;
    color:$color-text-dark;
    @include font(GothaProReg);
    font-size: $font-wd-reg-input;
    padding-left: 10px;
    border: 1px solid $color-input-border;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    &:focus {
      outline: none;
      -webkit-appearance: none;
      border-radius: 0;
      border: 1px solid $color-button-hover;
    }
    &:hover, :active {
      outline: none;
      -webkit-appearance: none;
      border-radius: 0;
    }
  }
  .phone{
    background: none;
    display: block;
    width: calc(100% - 12px);
    margin: 15px 0;
    @include media(sm) {
      margin: 10px 0;
    }
  }
  .submit {
    width: 100%;
    color:#fff;
    @include font(GothaProMed);
    font-size: $font-wd-med-button;
    border: none;
    background-color: $color-green-base;
    height: 38px;
    &:hover,:focus, :active {
      background-color: $color-button-hover;
      border: none;
      outline: none;
      -webkit-appearance: none;
      border-radius: 0;
      cursor: pointer;
    }
    &:focus {
      background-color: $color-button-hover;
    }
    :active {
      background-color: $color-button-hover;
    }
  }
  .timer-wrap {
    .timer-text {
      display: block;
      @include font(GothaProMed);
      font-size: 14px;
      color: $color-text-dark;
      margin: 35px 0 10px 0;
      text-transform: uppercase;
      @include media(sm) {
        margin: 20px 0 10px 0;
      }
    }
    .timer-time {
      display: block;
      @include font(GothaProMed);
      font-size: 36px;
      color: $color-text-timer;
    }
  }
}

.banner {
  width: 100%;
  max-width: 520px;
  position: relative;
  color: #fff;
  margin-bottom: 50px;
  @include media(sm) {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  @include media(md) {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  @include media(lg) {
    width: 100%;
    margin: 0;
    max-width: 100%;
  }
  .box {
    padding: 44px 40px 40px 40px;
    text-align: center;
    @include media(sm) {
      padding: 20px;
    }
    .header {
      @include font(GothaProMed);
      font-size: 16px;
      color: $color-green-base;
    }
    .caption {
      @include font(LemonTuesday);
      font-size: 58px;
      margin: 30px 0;
      @include media(sm) {
        font-size: 40px;
        line-height: 60px;
      }
      @include media(md) {
        font-size: 44px;
      }
    }
    .sale {
      @include font(GothaProMed);
      font-size: 20px;
      display: inline;
      span {
        border-bottom: solid 3px $color-green-base;
        display: inline;
        padding-bottom: 3px;
      }
    }
  }
  .angle-1 {
    width: 40px;
    height: 40px;
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  .angle-2 {
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    right: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
  }
  .angle-3 {
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    left: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
  }
  .angle-4 {
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    right: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
  }
}


header {
  min-height: 500px;
  background: #354358;
  background: url("../img/not-found.png") no-repeat top;
  background-size: cover;
  position: relative;
  .content-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    @include push--auto;
    @include media(sm) {
      flex-wrap: wrap;
    }
    @include media(md) {
      flex-wrap: wrap;
    }
    .logo {
      padding-top: 25px;
      padding-bottom: 76px;
      height: 50px;
      @include media(sm) {
        padding-top: 20px;
        padding-bottom: 20px;
        height: 40px;
      }
      @include media(md) {
        padding-top: 20px;
        padding-bottom: 30px;
      }
      a {
        height:100%;
        img {
          height:100%;
        }
      }
    }

    .part-left {
      position: relative;
      width: 50%;
      background: linear-gradient( to top, rgba(53,67,88,0.7),rgba(53,67,88,0.7));
      padding: 20px;
      @include media(sm) {
        width: 100%;
      }
      @include media(md) {
        width: 100%;
      }
      .content {
        width: 100%;
        max-width: 590px;
        float: right;
        @include media(sm) {
          width: 100%;
          max-width: 100%;
        }
        @include media(md) {
          width: 100%;
          max-width: 100%;
        }

     }
      a[href^="tel"]{
        color:inherit;
        text-decoration:none;
      }
      .phone {
        text-align: center;
        color: #fff;
        margin-right: 70px;
        margin-bottom: 40px;
        font-size: 20px;
        margin-top: 58px;
        text-decoration:none;
        @include font(GothaProMed);
        @include media(sm) {
          margin-right: 0;
          font-size: 14px;
        }
        @include media(md) {
          font-size: 16px;
          margin-right: 0;
        }
        @include media(lg) {
          font-size: 16px;
          margin-right: 0;
        }
        @include media(xl) {
          margin-right: 20px;
        }
        .phone-ico {
          display: inline;

          &:before {
            font-size: 28px;
            margin-right: 20px;
            margin-left:0;
            vertical-align: text-bottom;
            @include media(sm) {
              font-size: 20px;
            }
            @include media(md) {
              font-size: 22px;
            }
          }
        }
        .phone-number {
          margin-top: -5px;
          display: inline;
        }
      }
    }
    .part-right {
      width: 50%;
      padding-top: 86px;
      padding-bottom: 70px;

      @include media(sm) {
        width: 100%;
      }
      @include media(md) {
        width: 100%;
      }
      @include media(md) {
        width: 100%;
      }
      .content {
        //margin-left: 20%;
        @include media(sm) {
          margin: 0;
        }
        @include media(md) {
          margin: 0;
        }
        @include media(lg) {
          margin-left: 10px;
        }
        @include media(xl) {
          margin-left: 20%;
        }
        @include media(wd) {
          margin-left: 20%;
        }
        .order-wrapper {
          position: relative;

          .order {
            @include media(sm) {
              margin: 0;
              @include push--auto;
              display: block;
            }
            @include media(md) {
              margin: 0;
              @include push--auto;
              display: block;
            }
          }
        }
      }
    }
  }
}

.down {
  width: 30px;
  height: 58px;
  background: #fff;
  background: url("../img/down.png");
  position: absolute;
  right: -15px;
  bottom: 20px;

  @include media(sm) {
    display: none;
  }
  @include media(md) {
    display: none;
  }
}




// BUGS
.order-wrapper {
  width: 354px;
  background: rgba(255, 255, 255, 0.95);
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.order {
  width: 100%;
  height: 390px;
  background: none;
  display: block;
  padding: 44px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  .order-wrapper {
    margin-left: 25px;
    margin-right: 25px;
    width:100%;
  }
  .order {
    padding: 30px;
    width: 100%;
    height: auto;
    margin: 20px;
  }

  header .content-wrap .part-right .content .order-wrapper,
  header .content-wrap .part-right .content .order {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .modal-wrap .window .order-wrapper {
    width: 300px;
  }

  .modal-wrap .window .order {
    width: 100%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 767px) {
  header .content-wrap .part-right .content .order-wrapper {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  header .content-wrap .part-right .content .order {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}



.carousel-wrap {
  background: #354358;
  background: linear-gradient( to top, rgba(53,67,88,0.7),rgba(53,67,88,0.7)), url("../img/not-found.png") no-repeat center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 20px;
  @include media(wd) {
    padding-bottom: 20px;
  }
  .part-header {
    margin-bottom: 0;

    .caption {
      color: #fff;
    }
    .green-line {
      margin-top: 28px;
      margin-bottom: 28px;
    }
  }
}

#owl-feeds {
  max-width: $width-content;
  @include push--auto;
  .item {
    padding: 36px 0;
    min-height: 240px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 40px 50px;
    background: #fff;
    @include media(sm) {
      flex-wrap: wrap;
      margin: 10px;
    }
    @include media(md) {
      flex-wrap: wrap;
      margin: 10px;
    }
    @include media(lg) {
      margin: 10px;
    }
    .icon {
      color: $color-green-base;
      width: 80px;
      span:before{
        font-size: 45px;
        margin-left: 30px;
        @include media(md) {
          font-size: 30px;
          margin-left: 10px;
        }
      }

      @include media(sm) {
        display: none;
        width: 0;
      }
      @include media(md) {
        width: 30px;
      }
      @include media(lg) {
      }
      @include media(xl) {
      }
    }
    .text-wrap {
      margin-top: 15px;
      margin-left: 20px;
      margin-right: 20px;
      width: calc(100% - 390px);
      letter-spacing: 1px;
      @include media(sm) {
        width: calc(100% - 50px);
        margin-right: 0;
        margin-left: 0;
      }
      @include media(md) {
        width: calc(100% - 180px);
        margin-right: 0;
      }
      @include media(lg) {
        width: calc(100% - 250px);
      }
      .text {
        display: block;
        color: $color-text-predark;
        @include font(GothaProReg);
        font-size: 16px;
        line-height: 22px;
      }
      .author   {
        margin-top: 30px;
        margin-right: 20px;
        display: block;
        float: right;
        color: $color-text-dark;
        @include font(GothaProMed);
        font-size: 16px;
      }
    }
    .image {
      width: 400px;
      @include media(sm) {
        width: 0;
        margin:0;
        display: none;
      }
      @include media(md) {
        width: 130px;
      }
      @include media(lg) {
        width: 300px;
        margin-top: -15px;
      }
      img {
        position: absolute;
      }
    }
  }

  img{
    width: 280px;
    height: 280px;
    margin-top: -55px;
    @include media(md) {
      width: 100px;
      height: 100px;
      margin-top: 0;
    }
    @include media(lg) {
      width: 200px;
      height: 200px;
      margin-top: 0;
    }
  }
  .owl-wrapper-outer {
    position: relative;
  }
  .owl-controls {
    position: absolute;
    top: 90px;
    right: 70px;
    @include media(sm) {
      top: 70px;
      right: 10px;
    }
    @include media(md) {
      top: 70px;
      right: 10px;
    }
    @include media(lg) {
      top: 60px;
      right: 15px;
    }
    .owl-pagination {
      .owl-page {
        display: block;
        margin-bottom: 15px;
        span {
          border-radius: 0;
          background-color: #e4e5e5;
          margin: 8px 7px;
          opacity: 1;
          width: 16px;
          height: 16px;
        }
      }
      .owl-page.active {
        span {
          background-color: $color-green-base;
        }
      }
    }
  }
}




.modal-wrap {
  .window {
    position: fixed;
    z-index: 5;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    form {
      position: relative;
    }
    .order {
      @include media(sm) {
        width: 300px;
      }
    }
  }

  .close {
    position: absolute;
    top: -30px;
    right: -30px;
    cursor: pointer;
    color: #abb0ba;
    span:before {
      font-size: 28px;
    }
    @include media(sm) {
      top: -10px;
      right: 19px;
    }
    &:hover {
      color: $color-grey-menu;
    }
  }
  .overlay {
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: linear-gradient( to top, rgba(53,67,88,0.7),rgba(53,67,88,0.7));
  }
}



.modal-wrap-gallery {
  display: none;
  .window {
    position: fixed;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include media(sm) {
      width: calc(100% - 40px);
    }
    @include media(md) {
      width: calc(100% - 40px);
    }
    @include media(lg) {
      width: calc(100% - 200px);
    }
    @include media(xl) {
      width: calc(100% - 200px);
    }
    @include media(wd) {
      width: calc(100% - 200px);
    }
    .image-wrap {
      display: block;
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      background: url("../img/not-found.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;
    }
  }
  .close {
    position: absolute;
    top: -30px;
    right: -30px;
    cursor: pointer;
    color: #abb0ba;
    span:before {
      font-size: 28px;
    }
    @include media(sm) {
      top: -40px;
      right: 0px;
    }
    @include media(md) {
      top: -40px;
      right: 0px;
    }
    &:hover {
      color: $color-grey-menu;
    }
  }
  .prev {
    position: absolute;
    top: calc(50% - 30px);
    left: -80px;
    cursor: pointer;
    color: #abb0ba;
    span:before {
      font-size: 50px;
      margin: 0;
    }
    @include media(sm) {
      top: calc(50% - 30px);
      left: 0px;
      font-size: 30px;
    }
    @include media(md) {
      top: calc(50% - 30px);
      left: 0px;
      font-size: 30px;
    }
    &:hover {
      color: $color-grey-menu;
    }
  }
  .next {
    position: absolute;
    top: calc(50% - 30px);
    right: -80px;
    cursor: pointer;
    color: #abb0ba;
    span:before {
      font-size: 50px;
      margin: 0;
    }
    @include media(sm) {
      top: calc(50% - 30px);
      right: 0px;
      font-size: 30px;
    }
    @include media(md) {
      top: calc(50% - 30px);
      right: 0px;
      font-size: 30px;
    }
    &:hover {
      color: $color-grey-menu;
    }
  }
  .overlay {
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: linear-gradient( to top, rgba(53,67,88,0.7),rgba(53,67,88,0.7));
  }
}

.gallery {
  width: 100%;
  margin-bottom: 75px;
  margin-top: 65px;
  .gallery-line {
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    @include media(sm) {
      flex-wrap: wrap;
    }
    @include media(md) {
      flex-wrap: wrap;
    }
    .item {
      position: relative;
      width: 100%;
      margin: 0;
      overflow: hidden;
      padding: 0;
      cursor: pointer;
      img{
        cursor: pointer;
      }
    }
    .type-1 {
      flex:   1   1  0;
      @include media(sm) {
        flex:   1   1  50%;
      }
      @include media(md) {
        flex:   1   1  50%;
      }
    }
    .type-2 {
      flex:   2   1  0;
      @include media(sm) {
        flex:   1   1  50%;
      }
      @include media(md) {
        flex:   1   1  50%;
      }
    }
  }
  .hover {
    background: linear-gradient( to top, rgba(150,218,71,0.7),rgba(150,218,71,0.7));
    position: absolute;
    width: 100%;
    height: 100%;
    top: -500px;
    left: 0;
    cursor: pointer;
    text-align: center;
    display: table;
    .text{
      position: relative;
      color: #fff;
      @include font(GothaProMed);
      font-size: 16px;
      display: table-cell;
      vertical-align: middle;
      @include media(sm) {
        font-size: 14px;
      }
      @include media(md) {
        font-size: 14px;
      }
      @include media(lg) {
        font-size: 16px;
      }
      @include media(lg) {
        font-size: 14px;
      }
      span:before {
        margin-right: 15px;
        margin-left: 0;
        vertical-align: middle;
        @include media(sm) {
          margin-right: 5px;
        }
        @include media(md) {
          margin-right: 15px;
        }
        @include media(lg) {
          margin-right: 5px;
        }
      }
    }
  }
}
.fixed-menu {
  display: none;
  width: 100%;
  height: 80px;
  background: $color-grey-menu;
  position: fixed;
  z-index: 3;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  top: -100px;
  @include media(sm) {
    height: auto;
  }
  @include media(md) {
    height: auto;
  }
  .content-wrap {
    @include push--auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    @include media(sm) {
      font-size: 14px;
      display: block;
      padding: 10px 20px;
      height: auto;
    }
    @include media(md) {
      font-size: 16px;
      display: block;
      padding: 13px 20px;
      height: auto;
    }
    @include media(lg) {
      font-size: 16px;
    }
    @include media(xl) {
      width: 100%;

    }
    @include media(wd) {
      width: $width-content;
      padding: 0;
    }

    .logo {
      float: left;
    //  max-width: 80px;
      height: 24px;
      overflow: hidden;
      margin-bottom: 10px;
      margin-top: 10px;
      a {
        img {
          height:100%;
        }
      }
    }
    a[href^="tel"]{
      color:inherit;
      text-decoration:none;
    }
    .phones {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 2;
      margin-top: -5px;
      @include media(sm) {
        display: block;
        float: right;
      }
      @include media(md) {
        display: block;
        float: right;
      }
    }
    .phone {
      margin-top: -6px;
      text-align: center;
      color: $color-text-dark;
      font-size: 20px;
      text-decoration:none;
      @include font(GothaProReg);
      @include media(sm) {
        font-size: $font-sm-reg-number;
        text-align: right;
        margin-bottom: 5px;
        margin-top: 0;
      }
      @include media(md) {
        font-size: $font-md-reg-number;
        text-align: right;
        margin-bottom: 5px;
        margin-top: 0;
      }
      @include media(lg) {
        font-size: $font-lg-reg-number;
      }
      @include media(xl) {
        font-size: $font-xl-reg-number;
        margin: 0 20px;
      }
      @include media(wd) {
        font-size: $font-wd-reg-number;
        margin: 0 30px;
      }
      .phone-ico {
        display: inline;
        &:before {
          font-size: 24px;
          margin-right: 5px;
          @include media(sm) {
            font-size: 20px;
            margin-left: 0;
          }
          @include media(md) {
            font-size: 22px;
            margin-left: 0;
          }
        }
      }
      .phone-number {
        display: inline;
      }
    }
    input {
      display: block;
      width: 100%;
      height: 34px;
      color:$color-text-dark;
      @include font(GothaProReg);
      font-size: 14pt;
      padding-left: 10px;
      border: 1px solid $color-input-border;
      outline: none;
      -webkit-appearance: none;
      border-radius: 0;
      &:focus {
        outline: none;
        -webkit-appearance: none;
        border-radius: 0;
        border: 1px solid $color-button-hover;
      }
      &:hover, :active {
        outline: none;
        -webkit-appearance: none;
        border-radius: 0;
      }
    }

    .submit {
      @include media(sm) {
        font-size: $font-sm-med-button;
        display: block;
        width: 100%;
        margin-top:10px;
        height: 32px;
      }
      @include media(md) {
        font-size: $font-md-med-button;
        display: block;
        width: 100%;
        margin-top:10px;
        height: 32px;
      }
      @include media(lg) {
        font-size: $font-lg-med-button;
        width: 200px;
      }
      @include media(xl) {
        font-size: $font-xl-med-button;
        width: 220px;
      }
      @include media(wd) {
        font-size: $font-wd-med-button;
        width: 220px;
      }
      width: 270px;
      color:#fff;
      @include font(GothaProMed);
      border: none;
      background-color: $color-green-base;
      height: 38px;
      &:hover,:focus, :active {
        background-color: $color-button-hover;
        border: none;
        outline: none;
        -webkit-appearance: none;
        border-radius: 0;
        cursor: pointer;
      }
      &:focus {
        background-color: $color-button-hover;
      }
      :active {
        background-color: $color-button-hover;
      }
    }
  }
}


#pipo-contacts {
  .modal-body {
    .close {
      position: absolute;
      right: 15px;
      margin-top: -20px;
      margin-right: -30px;
    }
    @media screen and (min-width: 768px) {
      background: red;
      padding: 20px;
      .close {
        margin-top: -30px;
        margin-right: -20px;
      }
    }
  }
}

.d-h {
  display: block;
  position: absolute;
  zoom: 1;
  overflow: hidden;
  width: 0;
  height: 0;
  left: -9999px;
}
.d-i {display: inline !important;}
.d-ib {display: inline-block !important;}
.d-t {display: table !important;}
.d-tr {display: table-row !important;}
.d-tc {display: table-cell !important;float: none !important;}

.pipo-contacts-text {
  display: none;
  &-active {
    display: block;
  }
}

.toggle .form-flex {
  overflow: hidden;
}

.form-answer {
  display: none;
  position: relative;
  zoom: 1;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  background: #ffffff;
  font-family: 'GothaProReg', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #5f5f5f;
  line-height: 20 / 16;
  width: 354px;
  @include media(sm) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  @include media(md) {
    margin-left: auto;
    margin-right: auto;
  }
  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .text-container {
    padding: 40px 20px;
  }
  .toggle & {
    display: table;
  }
  .d-tc {
    vertical-align: middle;
  }
}

.text-block-close {
  display: inline-block;
  font-weight:300;
  font-size: 2em;
  line-height: 1;
  text-decoration: none !important;
  padding-left: 1em;
  padding-right: 1em;
}

.has-error,
.has-error *,
.order .has-error input {
  color: #d94848 !important;
}

.form-control {
  &.has-error,
  .has-error & {
    border-color: #d94848 !important;
  }
}

.text-success {
  color: #96da47;
}
a.text-success:hover,
a.text-success:focus {
  color: darken(#96da47, 10%);
}

.text-danger {
  color: #d94848;
}
a.text-danger:hover,
a.text-danger:focus {
  color: darken(#d94848, 10%);
}

.h1 {
  font-family: 'LemonTuesday', 'verdana', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  letter-spacing: 2px;
}