@charset "UTF-8";

$font-body: 14px 'Roboto';

//like in bootstrap
$small: 400px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

$width-content: 1130px;
$width-part-header-text: 810px;
$color-text-predark: #5f5f5f;
$color-text-dark: #313131;
$color-text-placeholder: #6a6a6a;
$color-button-hover: #a0e54f;
$color-input-border: #334358;
$color-green-light: #f2ffe4;
$color-blue-dark: #3a4459;
$color-text-timer: #2e3344;
$color-grey-menu: #f1f3f3;
$color-green-base: #96da47;

$font-sm-med-button: 14px;
$font-md-med-button: 14px;
$font-lg-med-button: 14px;
$font-xl-med-button: 14px;
$font-wd-med-button: 16px;

$font-sm-med-input: 14px;
$font-md-med-input: 14px;
$font-lg-med-input: 14px;
$font-xl-med-input: 14px;
$font-wd-med-input: 16px;

$font-sm-med-caption: 14px;
$font-md-med-caption: 16px;
$font-lg-med-caption: 16px;
$font-xl-med-caption: 16px;
$font-wd-med-caption: 20px;

$font-sm-med-stat: 14px;
$font-md-med-stat: 16px;
$font-lg-med-stat: 16px;
$font-xl-med-stat: 16px;
$font-wd-med-stat: 18px;

$font-sm-reg-input: 16px;
$font-md-reg-input: 16px;
$font-lg-reg-input: 16px;
$font-xl-reg-input: 16px;
$font-wd-reg-input: 16px;

$font-sm-reg-text: 16px;
$font-md-reg-text: 16px;
$font-lg-reg-text: 16px;
$font-xl-reg-text: 16px;
$font-wd-reg-text: 16px;

$font-sm-reg-number: 14px;
$font-md-reg-number: 16px;
$font-lg-reg-number: 16px;
$font-xl-reg-number: 16px;
$font-wd-reg-number: 20px;

$font-sm-lemon: 34px;
$font-md-lemon: 34px;
$font-lg-lemon: 34px;
$font-xl-lemon: 34px;
$font-wd-lemon: 36px;

@each $font-face in GothaProBol, GothaProReg, GothaProMed, LemonTuesday {
  @font-face {
    font-family: $font-face; font-style: normal; font-weight: normal;
    src: url('../fonts/#{$font-face}.woff') format('woff'),
    url('../fonts/#{$font-face}.woff2') format('woff2'),
    url('../fonts/#{$font-face}.ttf')  format('truetype');
  }
}

