.work {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 60px;
  @include push--auto;
  @include media(wd) {
    width: $width-content + 20px;
  }
  .work-content {
    display: flex;
    justify-content: space-around;
    @include media(sm) {
      flex-wrap: wrap;
    }
    @include media(md) {
      flex-wrap: wrap;
    }
    .content-item {
      width: 100%;
      margin: 0 10px;
      background-image: url(../img/background-item.jpg);
      background-size:cover;
      text-align: center;
      height: 240px;
      color: $color-text-dark;
      padding: 15px;
      @include media(sm) {
        margin: 10px 0;
        height: 150px;
      }
      @include media(md) {
        margin: 10px 40px;
        height: 160px;
        width: 80%;
      }
      @include media(lg) {
        height: 200px;
      }
      @include media(xl) {
        height: 240px;
      }
      &:first-child {
        .image {
          margin-top: 25pt;
          margin-bottom: -13px;
          span:before{
            font-size: 52px;
            @include media(sm) {
              font-size: 30px;
            }
            @include media(md) {
              font-size: 40px;
            }
          }
          @include media(sm) {
            margin-top: 10px;
          }
          @include media(md) {
            margin-top: 10px;
          }
        }
      }
      .image {
        display: block;
        @include push--auto;
        height: 80px;
        margin-top: 20px;
        @include media(sm) {
          margin-top: 0px;
        }
        @include media(md) {
          margin-top: 0px;
        }
        span:before{
          font-size: 72px;
          color: $color-green-base;
          margin-left: 0;
          @include media(sm) {
            font-size: 50px;
          }
          @include media(md) {
            font-size: 60px;
          }
        }
      }
      .caption {
        display: block;
        @include font(GothaProBol);
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 30px;
        @include media(sm) {
          font-size: 20px;
          margin: 10px 0;
        }
        @include media(md) {
          font-size: 20px;
          margin: 5px 0;
        }
        @include media(lg) {
          font-size: 20px;
          margin: 10px 0;
        }
        @include media(xl) {
          font-size: 28px;
        }
      }
      .text {
        display: block;
        @include font(GothaProReg);
        font-size: 18px;
        @include media(sm) {
          font-size: 14px;
        }
        @include media(md) {
          font-size: 15px;
        }
        @include media(lg) {
          font-size: 15px;
        }
        @include media(xl) {
          font-size: 18px;
        }
      }
    }
  }
}