    /*
    Flaticon icon font: Flaticon
    Creation date: 11/05/2017 21:52
    */

    @font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-arrows-1:before { content: "\f100"; }
.flaticon-arrows:before { content: "\f101"; }
.flaticon-multiply:before { content: "\f102"; }
.flaticon-search:before { content: "\f103"; }
.flaticon-left-quote:before { content: "\f104"; }
.flaticon-construction:before { content: "\f105"; }
.flaticon-delivery-truck:before { content: "\f106"; }
.flaticon-down-arrow:before { content: "\f107"; }
.flaticon-phone-call:before { content: "\f108"; }
    
    $font-Flaticon-arrows-1: "\f100";
    $font-Flaticon-arrows: "\f101";
    $font-Flaticon-multiply: "\f102";
    $font-Flaticon-search: "\f103";
    $font-Flaticon-left-quote: "\f104";
    $font-Flaticon-construction: "\f105";
    $font-Flaticon-delivery-truck: "\f106";
    $font-Flaticon-down-arrow: "\f107";
    $font-Flaticon-phone-call: "\f108";