	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/05/2017 21:52
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-arrows-1:before { content: "\f100"; }
.flaticon-arrows:before { content: "\f101"; }
.flaticon-multiply:before { content: "\f102"; }
.flaticon-search:before { content: "\f103"; }
.flaticon-left-quote:before { content: "\f104"; }
.flaticon-construction:before { content: "\f105"; }
.flaticon-delivery-truck:before { content: "\f106"; }
.flaticon-down-arrow:before { content: "\f107"; }
.flaticon-phone-call:before { content: "\f108"; }